{% extends 'base.html' %}
{% block content %}
<div class="container-fluid bg-car bg-fixed dark-content p-0">
    <div class="container-fluid dark-shadow pl-0 pr-0">
        <div class="container pt-4">
            <h1 class="pt-5 h2">Add Advert</h1>
            <hr class="hr-gold-short hr-left mb-5">
            <form action="{% url 'add_advert' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <center class="pt-3 pb-5">
                    <a href="{% url 'admin_adverts' %}"><div class="btn btn-secondary">Cancel</div></a>
                    <button type="submit" class="btn send-btn mt-0">Add Advert</button>
                </center>
            </form>
        </div>
    </div>
</div>
{% endblock %}