{% extends 'base.html' %}

{% block extra_meta %}
<meta name="description" content="We are a family run garage, which emerged from a passion and love of cars. We offer 
services ranging from oil services, to custom made exhausts and chip tuning/remapping, to full engine rebuilds."/>
{% endblock %}

{% block content %}

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators d-none d-md-flex">
    {% for advert in adverts %}
    <li data-target="#carouselIndicators" data-slide-to="{{ forloop.counter|add:'-1' }}"
      {% if forloop.counter == 1 %}class="active" {% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for advert in adverts %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
      <div class="ad-container">
        <img src="{{ advert.image.url }}" alt="{{ advert.name }}" class="ad-image">
        <div class="img-overlay">
          <div class="ad-description container-fluid p-0 fade-in">
            <div class="row">
              <div class="col">
                <div class="ad-name">{{ advert.name }}</div>
              </div>
            </div>
            <hr class="ad-divider">
            <div class="row">
              <div class="col fade-in">
                <a class="btn ad-btn" href="{% url advert.url.page_link %}">View ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid bg-car bg-fixed p-0">
  <div class="container-fluid dark-shadow section-padding">
    <section class="container pt-4">
      <div class="row">
        <div class="col">
          <div>
            <h1 class="section-header text-grey mb-0 mt-4">We are Anglia Performance Centre</h1>
            <p class="text-center mb-5 off-gold-text s19">The home of vehicle solutions</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <h3 class="dark-content uppercase">About us</h3>
          <hr class="hr-gold-70 hr-left">
          <p class="dark-content">We are a family run garage, which emerged from a passion and love of cars. We have
            been running
            the garage for the past 11 years and have over 60 years of combined mechanical knowledge under one roof. The
            owner,
            Bart, comes from a motorsport/engineering background whos passion transcends into cusomers vehicles. <a
              class="standard-link" href="{% url 'about_us' %}">Read more...</a></p>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <h3 class="dark-content uppercase">Servicing</h3>
          <hr class="hr-gold-70 hr-left">
          <p class="dark-content">At APC, we service a vast array of cars on a daily basis. We cover all aspects of
            servicing
            from winter checks and oil change services to major services, cambelt and clutch replacements, and even full
            Nissan GTR and
            specialist vehile gearbox strip & rebuilds. There is no car too big or small.
            We also pride ourselves in unbiased advice and will happily answer any questions you might have. <a
              class="standard-link" href="{% url 'servicing_and_repairs' %}">Read more...</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <h3 class="dark-content uppercase">Diagnostics and Repairs</h3>
          <hr class="hr-gold-70 hr-left">
          <p class="dark-content">We have a long proven track of succesful diagnostics and repairs. We use vast array of
            diagnostic
            tools ranging from Snap-on, AUtel or Launch to VW/BMW Specifics and PIWIS. We also have facilities to test
            and repair ECUs.
            We prefer to accuratley diagnose and repair problems rather than trying a range of parts before getting to
            the cause of the
            problem. <a class="standard-link" href="{% url 'diagnostics' %}">Read more...</a></p>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <h3 class="dark-content uppercase">Motorsport/Track Preparation</h3>
          <hr class="hr-gold-70 hr-left">
          <p class="dark-content">We offer track and drift prepapation for customers vehicles, whether it be a weekend
            track car or a
            serious racing machine. We also offer corner weight setup. We also offer panel fabrication, full forged
            engine builds, diff
            rebuilds (we use and recommend WAVERTAC) and polybushing,
            to name a few. <a class="standard-link" href="{% url 'track_drift_preparation' %}">Read more...</a></p>
        </div>
      </div>
      <div class="row lg-text-center">
        <div class="col-12 mb-4">
          <h3 class="dark-content uppercase">Other Services</h3>
          <hr class="hr-gold-70 hr-left hr-lg-center">
          <p class="dark-content">We pride ourselves a variety of other services, including custom exhaust systems,
            prototyping billet parts for
            GR6 gearboxes, we also cater for custom fabrication ie: intake systems, intercoolers, custom engine swaps
            etc. For a
            more comprehensive list of what we offer, please have a look under our Services tab or get in touch with us
            to discuss your requirements.</p>
        </div>
      </div>
      <div class="row pt-1 lg-expand">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="photo-card">
            <a data-fancybox="group-1" href="{{ MEDIA_URL }}defaults/FB_IMG_1637590828563.jpg">
              <img class="box-image" src="{{ MEDIA_URL }}defaults/FB_IMG_1637590828563.jpg" alt="car-image-1">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="photo-card">
            <a data-fancybox="group-1" href="{{ MEDIA_URL }}defaults/FB_IMG_1637590782388.jpg">
              <img class="box-image" src="{{ MEDIA_URL }}defaults/FB_IMG_1637590782388.jpg" alt="car-image-2">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-none d-md-block">
          <div class="photo-card">
            <a data-fancybox="group-1" href="{{ MEDIA_URL }}defaults/FB_IMG_1637590841229.jpg">
              <img class="box-image" src="{{ MEDIA_URL }}defaults/FB_IMG_1637590841229.jpg" alt="car-image-3">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-none d-md-block">
          <div class="photo-card">
            <a data-fancybox="group-1" href="{{ MEDIA_URL }}defaults/FB_IMG_1637590847180.jpg">
              <img class="box-image" src="{{ MEDIA_URL }}defaults/FB_IMG_1637590847180.jpg" alt="car-image-4">
            </a>
          </div>
        </div>
      </div>
    </section>]
    {% if review_count > 5 %}
    <section class="container-fluid pt-4">
      <div class="row">
        <div class="col">
          <div>
            <h2 class="section-header text-grey">See what our customers are saying...</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3 col-xl-3 text-center text-grey my-auto pb-5">
          <span class="font-weight-bold h4 text-white">Reviews</span></br>
          <p class="m-0">
              <span class="fa fa-star text-orange"></span>
              <span class="fa fa-star{% if average_rating >= 1 %} text-orange{% endif %}"></span>
              <span class="fa fa-star{% if average_rating >= 2 %} text-orange{% endif %}"></span>
              <span class="fa fa-star{% if average_rating >= 3 %} text-orange{% endif %}"></span>
              <span class="fa fa-star{% if average_rating >= 4 %} text-orange{% endif %}"></span>
          </p>
          <span class="font-weight-bold">{{ review_count }} Reviews</span><br/>
          <span class="font-weight-bold">{{ average_rating }} Average Rating</span>
        </div>
        <div class="col-12 col-md-8 col-xl-8">
          <div class="horizontal-snap pb-2" id="snap-container">
            {% for review in reviews %}
            <div class="text-center">
              <div class="mini-review">
                <a href="{% url 'testimonials' %}#review-{{ review.id }}" class="plain-link">
                  <span class="font-weight-bold">{% if review.anon %}Anonymous{% else %}{{ review.user }}{% endif %}</span>
                  <p class="m-0 small">
                      <span class="fa fa-star fa-sm{% if review.stars >= 1 %} text-orange{% endif %}"></span>
                      <span class="fa fa-star fa-sm{% if review.stars >= 2 %} text-orange{% endif %}"></span>
                      <span class="fa fa-star fa-sm{% if review.stars >= 3 %} text-orange{% endif %}"></span>
                      <span class="fa fa-star fa-sm{% if review.stars >= 4 %} text-orange{% endif %}"></span>
                      <span class="fa fa-star fa-sm{% if review.stars >= 5 %} text-orange{% endif %}"></span>
                  </p>
                  <p>{{ review.clip }}{% if review.review|length > review.clip|length %}...{% endif %}</p>
                  <span class="small">{{ review.created_on }}</span>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
          <span class="pl-2 pr-2 pb-3 pointer align-left">
            <i id="scrollLeft" class=" text-white fas fa-chevron-left fa-lg"></i>
          </span>
          <span class="pl-2 pr-2 pb-3 pointer align-right">
            <i id="scrollRight" class="text-white fas fa-chevron-right fa-lg"></i>
          </span>
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</div>
<section class="container-fluid bg-off-white">
  <div class="row">
    <div class="col-12">
      <div>
        <h2 class="section-header text-gold mb-0">Get in touch for a quote</h2>
        <p class="text-center mb-5 s19">We aim to respond within 24 hours</p>
        <form class="dark-form text-center" action="{% url 'send_message' %}" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit" class="btn send-btn">SEND</button>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="bg-transition-container bg-off-white">
  <div class="bg-transition bg-gold"></div>
</div>
<section class="container-fluid callback-padding bg-gold">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-header text-gold">Request a Callback</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form action="{% url 'send_callback' %}" method="POST" class="text-center">
          {% csrf_token %}
          <div class="row">
            {% for field in miniform %}
            <div class="col-12 col-md-5">
              {{ field }}
            </div>
            {% endfor %}
            <div class="col-12 col-md-2 text-md-left">
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit" class="btn request-btn mt-0">REQUEST</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid bg-car bg-fixed p-0">
  <div class="container-fluid light-bg-shadow section-padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="section-header text-grey mb-0">Find us on Instagram</h3>
          <p class="text-center mb-5 text-grey s19">Keep up to date with our work</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="embedsocial-hashtag" data-ref="0e94df409e517a019b53d369d92ea630b272e1e2"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block postload_js %}
{{ block.super }}
<script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));</script>
<script>
  $(document).ready(function() {
    $('.ad-description').slideDown();

    const buttonRight = document.getElementById('scrollRight');
    const buttonLeft = document.getElementById('scrollLeft');

    function sideScroll(element, direction, speed, distance, step){
      scrollAmount = 0;
      var slideTimer = setInterval(function(){
        if(direction == 'left'){
            element.scrollLeft -= step;
        } else {
            element.scrollLeft += step;
        }
        scrollAmount += step;
        if(scrollAmount >= distance){
            window.clearInterval(slideTimer);
        }
      }, speed);
    }

    buttonRight.onclick = function () {
      let snapper = document.getElementById('snap-container')
      sideScroll(snapper,'right',25,200,10);
    };

    buttonLeft.onclick = function () {
      let snapper = document.getElementById('snap-container');
      sideScroll(snapper,'left',25,200,10);
    };
  });
</script>
{% endblock %}