{% extends 'base.html' %}
{% block content %}

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators d-none d-md-flex">
    {% for advert in adverts %}
        <li data-target="#carouselIndicators" data-slide-to="{{ forloop.counter|add:'-1' }}" {% if forloop.counter == 1 %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for advert in adverts %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            <div class="ad-container">
              <img src="{{ advert.image.url }}" alt="{{ advert.name }}" class="ad-image">
              <div class="img-overlay"></div>
              <div class="ad-description">
                <div class="row">
                  <div class="col">
                    <div class="ad-name">{{ advert.name }}</div>
                  </div>
                </div>
                <hr class="ad-divider">
                <div class="row">
                  <div class="col">
                    <a class="btn ad-btn" href="{% url advert.url.page_link %}">View ></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid bg-darker section-padding">
  <section class="container">
    <div class="row">
      <div class="col">
        <div>
          <h2 class="section-header text-white">Welcome to Anglia Performance Centre</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 mb-4">
        <h3 class="dark-content">About us</h4>
        <hr class="hr-gold">
        <p class="dark-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptate?</p>
      </div>
      <div class="col-12 col-lg-6 mb-4">
        <h3 class="dark-content">Servicing</h4>
        <hr class="hr-gold">
        <p class="dark-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque ullam quisquam quod in asperiores. A iusto architecto, nisi quibusdam blanditiis distinctio at beatae quia quis corrupti, optio vel deserunt reiciendis, veniam debitis!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 mb-4">
        <h3 class="dark-content">Diagnostics and Repairs</h4>
        <hr class="hr-gold">
        <p class="dark-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laudantium fugiat eius eaque rem qui hic similique quae commodi incidunt! A blanditiis officiis dolorem inventore et dicta exercitationem quam. Provident, maiores incidunt!</p>
      </div>
      <div class="col-12 col-lg-6 mb-4">
        <h3 class="dark-content">Motorsport/Track Preparation</h4>
        <hr class="hr-gold">
        <p class="dark-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque ullam quisquam quod in asperiores. A iusto architecto, nisi quibusdam blanditiis distinctio at beatae quia quis corrupti, optio vel deserunt reiciendis, veniam debitis!</p>
      </div>
    </div>
    <div class="row lg-text-center">
      <div class="col-12 mb-4">
        <h3 class="dark-content">Other Services</h4>
        <hr class="hr-gold hr-center">
        <p class="dark-content">For a more comprehensive list of what we offer, please have a look under our Services tab or get in touch with us to discuss your requirements.</p>
      </div>
    </div>
    <div class="row pt-1 lg-expand">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="photo-card">
          <a data-fancybox="group-1" href="/media/FB_IMG_1637590828563.jpg">
            <img class="box-image" src="/media/FB_IMG_1637590828563.jpg" alt="car-image-1">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="photo-card">
          <a data-fancybox="group-1" href="/media/FB_IMG_1637590782388.jpg">
            <img class="box-image" src="/media/FB_IMG_1637590782388.jpg" alt="car-image-2">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 d-none d-md-block">
        <div class="photo-card">
          <a data-fancybox="group-1" href="/media/FB_IMG_1637590841229.jpg">
            <img class="box-image" src="/media/FB_IMG_1637590841229.jpg" alt="car-image-3">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 d-none d-md-block">
        <div class="photo-card">
          <a data-fancybox="group-1" href="/media/FB_IMG_1637590847180.jpg">
            <img class="box-image" src="/media/FB_IMG_1637590847180.jpg" alt="car-image-4">
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div>
        <h2 class="section-header text-gold">Get in touch for a quote</h2>
      </div>
    </div>
  </div>
</section>


{% endblock %}

{% block postload_js %}
{{ block.super }}
  <script>
    $(document).ready(
      function() {
        $('.ad-description').slideDown();
      });
  </script>
{% endblock %}