{% extends 'base.html' %}
{% load param_tags %}
{% block content %}
<div class="container-fluid bg-darker dark-content pt-3 pb-3">

    <!--Mobile Grid Display start-->
    <div class="row d-md-none pr-1 pl-1">
        <div class="col-12 p-0 border border-bottom-0">
            <div class="text-center p-0">
                <a href="{% url 'admin_messages' %}" class="standard-link">
                    <h3 class="mb-0 p-2">Messages 
                        {% if message_count > 0 %}<div class="counter"><small>{{ message_count }}</small></div>{% endif %}
                    </h3>
                </a>
            </div>
        </div>
        <div class="col-12 p-0 border border-bottom-0">
            <div class="text-center p-0">
                <a href="{% url 'admin_callbacks' %}" class="standard-link text-dark">
                    <h3 class="mb-0 p-2 bg-secondary">Callbacks 
                        {% if callback_count > 0 %}<div class="counter"><small>{{ callback_count }}</small></div>{% endif %}
                    </h3>
                </a>
            </div>
        </div>
        <div class="col-12 p-0 border border-top-0">
            <table class="table bg-light table-hover mb-0">
                <tr class="bg-secondary">
                    <th scope="col" class="w-13"><input type="checkbox" id="master-callback-checkbox-mobile"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Responded</th>
                    <th scope="col">Date</th>
                </tr>
                {% if not callbacks %}
                    <tr>
                        <td></td>
                        <td> No Callbacks</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% for callback in callbacks %}
                    <tr>
                        <td><input type="checkbox" data-id="{{ callback.id }}" class="callback-checkbox-mobile"></td>
                        <td>
                            {% if callback.read %}
                                <a href="{% url 'view_callback' callback.id %}" class="text-secondary">{{ callback.name }}</a>
                            {% else %}
                                <strong><a href="{% url 'view_callback' callback.id %}">{{ callback.name }}</a></strong>
                            {% endif %}
                        </td>
                        <td>
                            {% if callback.responded %}
                                <i class="fas fa-check fa-lg text-success"></i>
                            {% else %}
                                <i class="fas fa-times fa-lg text-danger"></i>
                            {% endif %}
                        </td>
                        <td><small>{{ callback.received_on }}</small></td>
                    </tr>
                {% endfor %}
            </table>
            <!-- callback pagination bar start -->
            {% if callbacks.paginator.page_range|length > 1 %}
                <div class="container pt-2">
                    <div class="row">
                        <nav class="mx-auto">
                            <ul class="pagination">
                                {% if callbacks.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=callbacks.previous_page_number %}#headingTwo" tabindex="-1">&laquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                    </li>
                                {% endif %}
                                {% for pg in callbacks.paginator.page_range %}
                                    {% if callbacks.number == pg %}
                                        <li class="page-item active"><a class="page-link" href="?{% param_replace page=pg %}#headingTwo">{{ pg }}</a></li>
                                    {% elif pg > callbacks.number|add:-3 and pg < callbacks.number|add:3 %}
                                        <li class="page-item"><a class="page-link" href="?{% param_replace page=pg %}#headingTwo">{{ pg }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if callbacks.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=callbacks.next_page_number %}#headingTwo" tabindex="-1">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
            <!-- callback pagination bar end -->
        </div>
        <div class="col-12 p-0 border border-top-0">
            <div class="text-center p-0">
                <a href="{% url 'admin_reviews' %}" class="standard-link">
                    <h3 class="mb-0 p-2">Reviews 
                        {% if review_count > 0 %}<div class="counter"><small>{{ review_count }}</small></div>{% endif %}
                    </h3>
                </a>
            </div>
        </div>
    </div>
    <!--Mobile Grid Display end-->

    <!--Desktop Grid Display start-->
    <div class="row d-none d-md-flex pr-1 pl-1">
        <div class="col-3 p-0">
            <div class="text-center p-0 border">
                <a href="{% url 'admin_messages' %}" class="standard-link">
                    <h3 class="mb-0 p-2">Messages 
                        {% if message_count > 0 %}<div class="counter"><small>{{ message_count }}</small></div>{% endif %}
                    </h3>
                </a>
            </div>
            <div class="text-center p-0 border">
                <a href="{% url 'admin_callbacks' %}" class="standard-link text-dark">
                    <h3 class="mb-0 p-2 bg-secondary">Callbacks 
                        {% if callback_count > 0 %}<div class="counter"><small>{{ callback_count }}</small></div>{% endif %}
                    </h3>
                </a>
            </div>
            <div class="text-center p-0 border">
                <a href="{% url 'admin_reviews' %}" class="standard-link">
                    <h3 class="mb-0 p-2">Reviews 
                        {% if review_count > 0 %}<div class="counter"><small>{{ review_count }}</small></div>{% endif %}
                    </h3>
                </a>
            </div>
        </div>
        <div class="col-9 p-0 border">
            <table class="table bg-light table-hover mb-0">
                <tr class="bg-secondary">
                    <th scope="col" class="w-13"><input type="checkbox" id="master-callback-checkbox-desktop"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Responded</th>
                    <th scope="col">Date</th>
                </tr>
                {% if not callbacks %}
                    <tr>
                        <td></td>
                        <td> No Callbacks</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% for callback in callbacks %}
                    <tr>
                        <td><input type="checkbox" data-id="{{ callback.id }}" class="callback-checkbox-desktop"></td>
                        <td>
                            {% if callback.read %}
                                <a href="{% url 'view_callback' callback.id %}" class="text-secondary">{{ callback.name }}</a>
                            {% else %}
                                <strong><a href="{% url 'view_callback' callback.id %}">{{ callback.name }}</a></strong>
                            {% endif %}
                        </td>
                        <td>
                            {% if callback.responded %}
                                <i class="fas fa-check fa-lg text-success"></i>
                            {% else %}
                                <i class="fas fa-times fa-lg text-danger"></i>
                            {% endif %}
                        </td>
                        <td><small>{{ callback.received_on }}</small></td>
                    </tr>
                {% endfor %}
            </table>
            <!-- callback pagination bar start -->
            {% if callbacks.paginator.page_range|length > 1 %}
                <div class="container pt-2">
                    <div class="row">
                        <nav class="mx-auto">
                            <ul class="pagination">
                                {% if callbacks.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=callbacks.previous_page_number %}#headingTwo" tabindex="-1">&laquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                    </li>
                                {% endif %}
                                {% for pg in callbacks.paginator.page_range %}
                                    {% if callbacks.number == pg %}
                                        <li class="page-item active"><a class="page-link" href="?{% param_replace page=pg %}#headingTwo">{{ pg }}</a></li>
                                    {% elif pg > callbacks.number|add:-3 and pg < callbacks.number|add:3 %}
                                        <li class="page-item"><a class="page-link" href="?{% param_replace page=pg %}#headingTwo">{{ pg }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if callbacks.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=callbacks.next_page_number %}#headingTwo" tabindex="-1">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
            <!-- callback pagination bar end -->
            </div>
        </div>
        <!--Desktop Grid Display end-->
    </div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
<script>
    $(document).ready(function() {
        $('#master-callback-checkbox-mobile').click(function() {
            checkAll('callback', 'mobile')
        });
        $('#master-callback-checkbox-desktop').click(function() {
            checkAll('callback', 'desktop')
        });

        function checkAll(type, platform) {
            let master_string = '#master-' + type + '-checkbox-' + platform;
            let master = $(master_string);
            let checkbox_string = '.' + type + '-checkbox-' + platform;
            let checkbox = $(checkbox_string);
            if (master.is(':checked')) {
                $('.' + type + '-checkbox-' + platform).prop('checked', true);
            } else {
                $('.' + type + '-checkbox-' + platform).prop('checked', false);
            }
        }
    });
</script>
{% endblock %}