{% extends 'base.html' %}
{% load param_tags %}
{% block content %}
<div class="container-fluid bg-darker dark-content pt-3 pb-3">
    <div class="container p-0">
        <!--Grid Display start-->
        <div class="row pr-1 pl-1">
            <div class="col-12 p-0 border border-bottom-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_messages' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Messages
                            {% if message_count > 0 %}<div class="counter"><small>{{ message_count }}</small></div>
                            {% endif %}
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-12 p-0 border border-bottom-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_callbacks' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Callbacks
                            {% if callback_count > 0 %}<div class="counter"><small>{{ callback_count }}</small></div>
                            {% endif %}
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-12 p-0 border border-bottom-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_reviews' %}" class="standard-link text-dark">
                        <h3 class="mb-0 p-2 bg-secondary">Reviews
                            {% if review_count > 0 %}<div class="counter"><small>{{ review_count }}</small></div>{% endif %}
                        </h3>
                    </a>
                </div>
                <div id="error-container" class="pl-1 text-danger">

                </div>
            </div>
            <div class="col-12 p-0 border border-top-0">
                <form id="ajax-form">
                    {% csrf_token %}
                    <div class="input-group">
                        <select class="custom-select border-bottom-0" name="action" id="id-action">
                            <option selected value="none">Select Action...</option>
                            <option value="read">Mark Read</option>
                            <option value="unread">Mark Unread</option>
                            <option value="approve">Approve</option>
                            <option value="delete">Delete</option>
                        </select>
                        <div class="input-group-append">
                            <button id="ModalProcess" type="button" class="btn request-btn rounded-0 border-top border-left" data-target="#confirmActionModal">Go</button>
                        </div>
                    </div>
                </form>
                <table class="table bg-light table-hover mb-0">
                    <tr class="bg-secondary">
                        <th scope="col" class="w-13"><input type="checkbox" id="master-review-checkbox"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Date</th>
                    </tr>
                    {% if not reviews %}
                    <tr>
                        <td></td>
                        <td> No Reviews</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% for review in reviews %}
                    <tr>
                        <td><input type="checkbox" data-id="{{ review.id }}" class="review-checkbox"></td>
                        <td class="text-break">
                            {% if review.read %}
                            <a href="{% url 'view_review' review.id %}" class="text-secondary">{{ review.user }}</a>
                            {% else %}
                            <strong><a href="{% url 'view_review' review.id %}">{{ review.user }}</a></strong>
                            {% endif %}
                        </td>
                        <td>
                            <p class="m-0">
                                <span class="fa fa-star{% if review.stars >= 1 %} text-orange{% endif %}"></span>
                                <span class="fa fa-star{% if review.stars >= 2 %} text-orange{% endif %}"></span>
                                <span class="fa fa-star{% if review.stars >= 3 %} text-orange{% endif %}"></span>
                                <span class="fa fa-star{% if review.stars >= 4 %} text-orange{% endif %}"></span>
                                <span class="fa fa-star{% if review.stars >= 5 %} text-orange{% endif %}"></span>
                            </p>
                        </td>
                        {% if review.updated_on %}
                        <td class="text-break"><small>{{ review.updated_on }}</small></td>
                        {% else %}
                        <td class="text-break"><small>{{ review.created_on }}</small></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                <!-- message pagination bar start -->
                {% if reviews.paginator.page_range|length > 1 %}
                <div class="container-fluid pt-2 bg-off-white border-top">
                    <div class="row">
                        <nav class="mx-auto">
                            <ul class="pagination mb-2">
                                {% if reviews.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=reviews.previous_page_number %}"
                                        tabindex="-1">&laquo;</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                </li>
                                {% endif %}
                                {% for pg in reviews.paginator.page_range %}
                                {% if reviews.number == pg %}
                                <li class="page-item active"><a class="page-link"
                                        href="?{% param_replace page=pg %}">{{ pg }}</a></li>
                                {% elif pg > reviews.number|add:-3 and pg < reviews.number|add:3 %}
                                <li class="page-item"><a class="page-link" href="?{% param_replace page=pg %}">{{ pg }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if reviews.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=reviews.next_page_number %}"
                                        tabindex="-1">&raquo;</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                {% endif %}
                <!-- message pagination bar end -->
            </div>
            <div class="col-12 p-0 border border-top-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_blog_posts' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Blog Posts
                            {% if blog_count > 0 %}<small> ({{ blog_count }})</small>{% endif %}
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-12 p-0 border border-top-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_adverts' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Adverts
                            {% if advert_count > 0 %}<small> ({{ advert_count }})</small>{% endif %}
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-12 p-0 border border-top-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_members' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Team Members
                            {% if member_count > 0 %}<small> ({{ member_count }})</small>{% endif %}
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-12 p-0 border border-top-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_users' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Users
                            {% if user_count > 0 %}<small> ({{ user_count }})</small>{% endif %}
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <!--Grid Display end-->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmActionModal" tabindex="-1" role="dialog" aria-labelledby="confirmAction" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmAction"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirmBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn send-btn" data-dismiss="modal">CANCEL</button>
                <button class="btn request-btn rounded-0 border-top border-left" type="submit" id="id-ajax-go">CONTINUE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<script>
    $(document).ready(function () {
        $('#master-review-checkbox').click(function () {
            checkAll('review')
        });

        function checkAll(type) {
            let master_string = '#master-' + type + '-checkbox';
            let master = $(master_string);
            let checkbox_string = '.' + type + '-checkbox';
            let checkbox = $(checkbox_string);
            if (master.is(':checked')) {
                $('.' + type + '-checkbox').prop('checked', true);
            } else {
                $('.' + type + '-checkbox').prop('checked', false);
            }
        }

        $('#ModalProcess').click(function(e) {
            e.preventDefault();
            let idList = [];
            $(':checkbox:checked').not($('#master-review-checkbox')).each(function (i) {
                idList[i] = $(this).data('id');
            });
            let action = $('#id-action').val();
            if (idList.length == 0) {
                $('#error-container').text("No items have been selected");
                return
            } else if (action == "none") {
                $('#error-container').text("No action has been selected");
                return
            } else if (action == "delete" || action == "approve" || action == "publish") {
                $('#confirmAction').text(`${action} reviews`);
                $('#confirmBody').text(`Are you sure you want to ${action} these reviews?`);
                $("#confirmActionModal").modal("show");
            } else {
                sendAjaxRequest();                                              
            }
        });

        $('#id-ajax-go').click(function (e) {
            e.preventDefault();
            sendAjaxRequest();
        });

        function sendAjaxRequest() {
            let idList = [];
            let form = $('#ajax-form');
            let item = "review"; /* blog-post or message or callback or review */
            let csrf = $('#ajax-form').children('input[name=csrfmiddlewaretoken]').val();
            let action = $('#id-action').val(); /* "none", "delete", "publish", "read", "unread", "respond", "unrespond", "approve" */
            let url = "";

            $(':checkbox:checked').not($('#master-review-checkbox')).each(function (i) {
                idList[i] = $(this).data('id');
            });
            idList = JSON.stringify({ 'idList': idList});

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    item: item,
                    action: action,
                    id_list: idList,
                    csrfmiddlewaretoken: csrf,
                },
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    });
</script>
{% endblock %}