{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header user-header">
                    <h1 class="page-header">Admin Panel</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker dark-content p-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="accordion text-body" id="contactAccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Messages <div class="counter">{{ site_messages.count }}</div>
                                </button>
                                </h5>
                            </div>
                        
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#contactAccordion">
                                <div class="card-body">
                                    {% for message in site_messages %}
                                        {{ message.name }}<div class="float-right d-inline-block">{{ message.responded }}</div><br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Callback Requests <div class="counter">{{ callbacks.count }}</div>
                                </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#contactAccordion">
                                <div class="card-body">
                                    {% for callback in callbacks %}
                                        {{ callback.name }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Reviews for Auth <div class="counter">{{ reviews.count }}</div>
                                </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#contactAccordion">
                                <div class="card-body">
                                    {% for review in reviews %}
                                        {{ review.user }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}