{% extends 'base.html' %}
{% load param_tags %}
{% block content %}
    <div class="container-fluid bg-darker dark-content pt-3 pb-3">

        <!--Mobile Grid Display start-->
        <div class="row d-md-none pr-1 pl-1">
            <div class="col-12 p-0 border border-bottom-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_messages' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Messages 
                            {% if message_count > 0 %}<div class="counter"><small>{{ message_count }}</small></div>{% endif %}
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-12 p-0 border border-bottom-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_callbacks' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Callbacks 
                            {% if callback_count > 0 %}<div class="counter"><small>{{ callback_count }}</small></div>{% endif %}
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-12 p-0 border border-bottom-0">
                <div class="text-center p-0">
                    <a href="{% url 'admin_reviews' %}" class="standard-link text-dark">
                        <h3 class="mb-0 p-2 bg-secondary">Reviews 
                            {% if review_count > 0 %}<div class="counter"><small>{{ review_count }}</small></div>{% endif %}
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-12 p-0 border border-top-0">
                <table class="table bg-light table-hover mb-0">
                    <tr class="bg-secondary">
                        <th scope="col" class="w-13"><input type="checkbox" id="master-review-checkbox-mobile"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Date</th>
                    </tr>
                    {% if not reviews %}
                        <tr>
                            <td></td>
                            <td> No Reviews</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
                    {% for review in reviews %}
                        <tr>
                            <td><input type="checkbox" data-id="{{ review.id }}" class="review-checkbox-mobile"></td>
                            <td>
                                {% if review.read %}
                                    <a href="{% url 'view_review' review.id %}" class="text-secondary">{{ review.user }}</a>
                                {% else %}
                                    <strong><a href="{% url 'view_review' review.id %}">{{ review.user }}</a></strong>
                                {% endif %}
                            </td>
                            <td>
                                <p class="m-0">
                                    <span class="fa fa-star{% if review.stars >= 1 %} text-orange{% endif %}"></span>
                                    <span class="fa fa-star{% if review.stars >= 2 %} text-orange{% endif %}"></span>
                                    <span class="fa fa-star{% if review.stars >= 3 %} text-orange{% endif %}"></span>
                                    <span class="fa fa-star{% if review.stars >= 4 %} text-orange{% endif %}"></span>
                                    <span class="fa fa-star{% if review.stars >= 5 %} text-orange{% endif %}"></span>
                                </p>
                            </td>
                            {% if review.updated_on %}
                                <td><small>{{ review.updated_on }}</small></td>
                            {% else %}
                                <td><small>{{ review.created_on }}</small></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <!-- message pagination bar start -->
                {% if reviews.paginator.page_range|length > 1 %}
                    <div class="container-fluid pt-2 bg-off-white border-top">
                        <div class="row">
                            <nav class="mx-auto">
                                <ul class="pagination mb-2">
                                    {% if reviews.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{% param_replace page=reviews.previous_page_number %}" tabindex="-1">&laquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                        </li>
                                    {% endif %}
                                    {% for pg in reviews.paginator.page_range %}
                                        {% if reviews.number == pg %}
                                            <li class="page-item active"><a class="page-link" href="?{% param_replace page=pg %}">{{ pg }}</a></li>
                                        {% elif pg > reviews.number|add:-3 and pg < reviews.number|add:3 %}
                                            <li class="page-item"><a class="page-link" href="?{% param_replace page=pg %}">{{ pg }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if reviews.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{% param_replace page=reviews.next_page_number %}" tabindex="-1">&raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
                <!-- message pagination bar end -->
            </div>
        </div>
        <!--Mobile Grid Display end-->

        <!--Desktop Grid Display start-->
        <div class="row d-none d-md-flex pr-1 pl-1">
            <div class="col-3 p-0">
                <div class="text-center p-0 border">
                    <a href="{% url 'admin_messages' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Messages 
                            {% if message_count > 0 %}<div class="counter"><small>{{ message_count }}</small></div>{% endif %}
                        </h3>
                    </a>
                </div>
                <div class="text-center p-0 border">
                    <a href="{% url 'admin_callbacks' %}" class="standard-link">
                        <h3 class="mb-0 p-2">Callbacks 
                            {% if callback_count > 0 %}<div class="counter"><small>{{ callback_count }}</small></div>{% endif %}
                        </h3>
                    </a>
                </div>
                <div class="text-center p-0 border">
                    <a href="{% url 'admin_reviews' %}" class="standard-link text-dark">
                        <h3 class="mb-0 p-2 bg-secondary">Reviews 
                            {% if review_count > 0 %}<div class="counter"><small>{{ review_count }}</small></div>{% endif %}
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-9 p-0 border">
                <table class="table bg-light table-hover mb-0">
                    <tr class="bg-secondary">
                        <th scope="col" class="w-13"><input type="checkbox" id="master-review-checkbox-desktop"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Date</th>
                    </tr>
                    {% if not reviews %}
                        <tr>
                            <td></td>
                            <td> No Reviews</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
                    {% for review in reviews %}
                        <tr>
                            <td><input type="checkbox" data-id="{{ review.id }}" class="review-checkbox-desktop"></td>
                            <td>
                                {% if review.read %}
                                    <a href="{% url 'view_review' review.id %}" class="text-secondary">{{ review.user }}</a>
                                {% else %}
                                    <strong><a href="{% url 'view_review' review.id %}">{{ review.user }}</a></strong>
                                {% endif %}
                            </td>
                            <td>
                                <p class="m-0">
                                    <span class="fa fa-star{% if review.stars >= 1 %} text-orange{% endif %}"></span>
                                    <span class="fa fa-star{% if review.stars >= 2 %} text-orange{% endif %}"></span>
                                    <span class="fa fa-star{% if review.stars >= 3 %} text-orange{% endif %}"></span>
                                    <span class="fa fa-star{% if review.stars >= 4 %} text-orange{% endif %}"></span>
                                    <span class="fa fa-star{% if review.stars >= 5 %} text-orange{% endif %}"></span>
                                </p>
                            </td>
                            {% if review.updated_on %}
                                <td><small>{{ review.updated_on }}</small></td>
                            {% else %}
                                <td><small>{{ review.created_on }}</small></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <!-- message pagination bar start -->
                {% if reviews.paginator.page_range|length > 1 %}
                    <div class="container-fluid pt-2 bg-off-white border-top">
                        <div class="row">
                            <nav class="mx-auto">
                                <ul class="pagination mb-2">
                                    {% if reviews.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{% param_replace page=reviews.previous_page_number %}" tabindex="-1">&laquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                        </li>
                                    {% endif %}
                                    {% for pg in reviews.paginator.page_range %}
                                        {% if reviews.number == pg %}
                                            <li class="page-item active"><a class="page-link" href="?{% param_replace page=pg %}">{{ pg }}</a></li>
                                        {% elif pg > reviews.number|add:-3 and pg < reviews.number|add:3 %}
                                            <li class="page-item"><a class="page-link" href="?{% param_replace page=pg %}">{{ pg }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if reviews.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{% param_replace page=reviews.next_page_number %}" tabindex="-1">&raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
                <!-- message pagination bar end -->
            </div>
        </div>
        <!--Desktop Grid Display end-->
    </div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
<script>
    $(document).ready(function() {
        $('#master-review-checkbox-mobile').click(function() {
            checkAll('review', 'mobile')
        });
        $('#master-review-checkbox-desktop').click(function() {
            checkAll('review', 'desktop')
        });

        function checkAll(type, platform) {
            let master_string = '#master-' + type + '-checkbox-' + platform;
            let master = $(master_string);
            let checkbox_string = '.' + type + '-checkbox-' + platform;
            let checkbox = $(checkbox_string);
            if (master.is(':checked')) {
                $('.' + type + '-checkbox-' + platform).prop('checked', true);
            } else {
                $('.' + type + '-checkbox-' + platform).prop('checked', false);
            }
        }
    });
</script>
{% endblock %}