{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header user-header">
                    <h1 class="page-header">Message {{ message.id }}</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker dark-content pl-0 pr-0 pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col pt-4">
                    <div class="message-container">
                        <div class="message-section">
                            <strong>From:</strong> {{ message.name }}<br>
                        </div>
                        <div class="message-section">
                            <strong>Phone:</strong> {{ message.phone }}<br>
                        </div>
                        <div class="message-section text-break">
                            <strong>Email:</strong> {{ message.email }}<br>
                        </div>
                        <div class="message-section">
                            <strong>Message:</strong> {{ message.message|linebreaks }}<br>
                            {% if message.responses.all.count > 0 %}
                                {% for response in message.responses.all %}
                                <div class="text-gold response-block">
                                    <strong>Reply ({{ response.sent_on }}):<br> </strong>{{ response.message_body|linebreaks }}
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="message-section">
                            <strong>Received:</strong> {{ message.received_on }}<br>
                        </div>
                    </div>
                    <div class="external-message-section">
                        <strong>Responded:</strong> 
                        {% if message.responded %}
                            <i class="fas fa-check fa-lg text-success"></i>
                        {% else %}
                            <i class="fas fa-times fa-lg text-danger"></i>
                        {% endif %}<br>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-center mt-3">
                        <div class="btn btn-success mt-1" id="reply-btn">REPLY</div>
                        <button type="button" class="btn btn-danger d-inline-block mt-1" data-toggle="modal" data-target="#deleteMessageModal">
                            DELETE
                        </button>
                        <a href="{% url 'mark_unread' object_id=message.id model='message' %}">
                            <div class="btn send-btn mt-1">MARK UNREAD</div>
                        </a>
                        <a href="{% url 'toggle_responded' object_id=message.id model='message' %}">
                            <div class="btn send-btn mt-1">TOGGLE STATUS</div>
                        </a>
                    </div>
                </div>
            </div>

            <div id="message-reply" class="row">
                <div class="col-12">
                    <form action="{% url 'reply_to_message' message.id %}" method="POST" class="reply-form">
                        {% csrf_token %}
                        {{ form }}                 
                        <button type="submit" class="btn request-btn mt-2">SEND</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="back-button-container mt-5">
                        <a href="{% url 'admin_messages' %}" class="standard-link i-move"><i class="fas fa-arrow-circle-left"></i> Admin Panel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteMessageModal" tabindex="-1" role="dialog" aria-labelledby="deleteMessage" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteMessage">Delete Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Are you sure you want to delete this Message?</strong><br>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn send-btn" data-dismiss="modal">CANCEL</button>
                    <a href="{% url 'delete_message' message.id %}">
                        <button type="button" class="btn btn-danger">DELETE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<script>
    $(document).ready(function() {
        $('#reply-btn').click(function() {
            let message = $('#message-reply')
            message.slideToggle().toggleClass('opened');
            let visible = message.is('.opened')
            if (visible == true) {
                $('#reply-btn').text("HIDE");
                $('#reply-btn').removeClass('btn-success');
                $('#reply-btn').addClass('send-btn-active');
            } else {
                $('#reply-btn').text("REPLY");
                $('#reply-btn').removeClass('send-btn-active');
                $('#reply-btn').addClass('btn-success');
            }
        });
    });
</script>
{% endblock %}