{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header user-header">
                    <h1 class="page-header">Review {{ review.id }}</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ review.user }}<br>
                    {{ review.created_on }}<br>
                    {{ review.updated_on }}<br>
                    {{ review.stars }}<br>
                    {{ review.review }}<br>
                    {{ review.image }}<br>
                    {{ review.anon }}<br>
                    {{ review.read }}<br>
                    {{ review.authorised }}<br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="back-button-container">
                        <a href="{% url 'admin_panel' %}#headingThree" class="standard-link i-move"><i class="fas fa-arrow-circle-left"></i> Admin Panel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}