{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header testimonials-header">
                    <h1 class="page-header">Testimonials</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ review_form|crispy }}
                    {{ review_images_form|crispy }}
                    <button type="submit" class="btn request-btn mt-0">POST</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}