{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header testimonials-header">
                    <h1 class="page-header">Testimonials</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 bg-darker text-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="mt-5">Customer Testimonials</h1>
                    <hr class="hr-gold-70 hr-left mb-5">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h3><span class="text-light-gold">{{ review_count }}</span> Reviews{% if review_count > 0 %}</h3>
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="float-md-right"><span class="text-light-gold">{{ average_rating }}</span> Average Rating{% else %}{% endif %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for review in reviews %}
                        <div class="review">
                            {% if review.anon == False %}
                                <h5 class="font-weight-bold">{{ review.user }}</h5>
                            {% else %}
                            <h5 class="font-weight-bold">Anonymous</h5>
                            {% endif %}
                            <p class="m-0">
                                <span class="fa fa-star{% if review.stars >= 1 %} text-orange{% endif %}"></span>
                                <span class="fa fa-star{% if review.stars >= 2 %} text-orange{% endif %}"></span>
                                <span class="fa fa-star{% if review.stars >= 3 %} text-orange{% endif %}"></span>
                                <span class="fa fa-star{% if review.stars >= 4 %} text-orange{% endif %}"></span>
                                <span class="fa fa-star{% if review.stars >= 5 %} text-orange{% endif %}"></span>
                            </p>
                            <hr class="mt-1">
                            <p>{{ review.review|linebreaks }}</p>
                            {% with counter=forloop.counter %}
                                {% if review.image.count > 0 %}
                                    <div class="row m-0">
                                        <div class="thumbnail-container">
                                            {% for img in review.image.all %}
                                                <div class="img-container">
                                                    <a data-fancybox="group-{{ counter }}" href="{{ img.image.url }}">
                                                        <img class="thumbnail" src="{{ img.image.url }}" alt="">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <p class="mb-0"><small>{{ review.created_on }}</small></p>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="review-container bg-light-grey">
                        <div class="row">
                            <div class="col text-center">
                                <h3 class="mt-4 text-light-gold">Write your own Review</h3>
                            </div>
                        </div>
                        <form method="POST" action="{% url 'post_review' %}" enctype="multipart/form-data" class="review-form">
                            {% csrf_token %}
                            <div class="row p-0">
                                <div class="col-12 text-center">
                                    <p class="mt-3 mb-3 rank">
                                        <span id="star-5" class="fa fa-star user-star" data-value="5"></span>
                                        <span id="star-4" class="fa fa-star user-star" data-value="4"></span>
                                        <span id="star-3" class="fa fa-star user-star" data-value="3"></span>
                                        <span id="star-2" class="fa fa-star user-star" data-value="2"></span>
                                        <span id="star-1" class="fa fa-star user-star" data-value="1"></span>
                                    </p>
                                    <div class="star-warning d-none">
                                        Please select a Star Rating
                                    </div>
                                </div>
                            </div>
                            {{ review_form|crispy }}
                            <div class="text-center">
                                <button type="submit" class="btn send-btn mt-0" id="review-submit">POST REVIEW</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
  <script>
    $(document).ready(
      function() {
        $('.user-star').click(function() {
            $(this).parents('.rank').find('.user-star').removeClass('star-checked');
            $(this).addClass('star-checked');
            let numberValue = this.dataset.value
            $('#id_stars').val(numberValue)
            if (!$('.star-warning').hasClass('d-none')) {
                $('.star-warning').addClass('d-none');
            }
        });
        $('#review-submit').click(function(e) {
            let stars = $('#id_stars').val();
            if (stars == "") {
                e.preventDefault(e);
                $('.star-warning').removeClass('d-none');
            }
        });
      });
  </script>
{% endblock %}