/*----------General----------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo Narrow', sans-serif;
}

body {
    font-family: Roboto, sans-serif;
}

#base-header {
    text-align: center;
    background-color: #1a1a18;
}

.main-logo {
    height: 155px;
    width: auto;
}

.p4m4 {
    padding-top: 60px ;
    margin-top: -60px;
}

.light-shadow {
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.total-count {
    background-color: orange;
    position: absolute;
    display: flex;
    top: -10px;
    left: -13px;
    z-index: 1000;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border: 1px solid #6a6464;
    border-radius: 25px;
    font-size: 15px;
}

.btn-pro-cart {
    color: #464646;
    background-color: #c6a76c;
}

.green-text {
    color: #a0ff8f;
}

.red-text {
    color: #eac9c1;
}

.apc-border {
    border: 1px solid #635a03;
}

.section-header {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 2px 1px 3px black;
}

.hr-gold-70 {
    border:1px solid #c6a76c;
    width: 70%;
}

.hr-gold-short {
    border:1px solid #c6a76c;
    width: 165px;
}

.hr-left {
    margin-left: 0;
}

.bg-header {
    background-color: #817346;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vw 0;
    text-align: center;
    max-height: 250px;
}

.bg-trans:focus {
    background-color: transparent;
}

.header-container {
    display: flex;
    height: auto;
    width: 100%;
    max-height: 180px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.page-header {
    padding: 0 5px;
    font-family: 'Dancing Script', sans-serif;
    font-size: 65px;
    color: #fafafa;
    text-shadow: 3px 3px 3px #000000, 
                 -3px -3px 3px #756a01, 
                 -3px 3px 3px #756a01, 
                 3px -3px 3px #756a01;
                 margin-bottom: 0;
}

.section-padding {
    padding: 10px 0 63px 0
}

.text-gold {
    color: #6c5b3a;
}

.text-light-gold {
    color: #c6a76c;
}

.text-purple {
    color: #555adf;
}

.uppercase {
    text-transform: uppercase;
}

.text-grey {
    color: #898781;
}

.toast-position {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 10000;
}

.p-1vw {
    padding: 1vw;
}

.allauth-page {
    max-width: 480px;
    padding: 20px 0;
}

.allauth-bg {
    background-image: url(/media/defaults/login.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#sub-contain {
    z-index: 1000;
}

.account-bg {
    padding: 0;
    min-height: 77.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-container {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.alert-block {
    margin: 0;
}

.alert-block ul {
    padding: 0;
}

.alert-block ul li {
    color: #e97373;
    list-style: none;
}

.br-50 {
    border-radius: 50px;
}

.fs-20 {
    font-size: 20px;
}

.img-fit {
    width: 100%;
    height: 100%;
    max-width: 510px;
}

.page-item.active .page-link {
    color: #121212;
    background-color: #c6a76c;
    border-color: #8a8d91;
}

.page-link {
    color: #121212;
    border: 1px solid #8a8d91;
}

.dropdown-menu a button:hover {
    background-color: #c6a76c;
    color: #fafafa;
}

.dropdown-menu a:hover {
    text-decoration: none;
}

.errorlist {
    list-style: none;
    color: red;
}

/*----------Forms----------*/

.controls {
    margin-bottom: 10px;
}

.controls .textinput,
.controls .emailinput,
.controls .textarea,
.controls .select,
.controls .clearablefileinput {
    min-width: 250px;
    max-width: 650px;
    margin: 0 auto;
}

.control-group label {
    margin-bottom: 0;
}

.dark-form input,
.dark-form textarea{
    color: #fafafa;
    background-color: #1a1a18;
}

.dark-form input:focus,
.dark-form textarea:focus{
    color: #fafafa;
    background-color: #1a1a18;
    border-color: #c6a76c;
    box-shadow: 0 0 0 0.2rem rgb(198 167 108 / 70%);
}

.dark-form input:-webkit-autofill,
.dark-form input:-webkit-autofill:hover,
.dark-form input:-webkit-autofill:focus,
.dark-form textarea:-webkit-autofill,
.dark-form textarea:-webkit-autofill:hover,
.dark-form textarea:-webkit-autofill:focus,
.dark-form select:-webkit-autofill,
.dark-form select:-webkit-autofill:hover,
.dark-form select:-webkit-autofill:focus {
    border: 1px solid #c6a76c;
    -webkit-text-fill-color: #c6a76c;
    box-shadow: 0 0 0px 1000px #1a1a19 inset;
    -webkit-box-shadow: 0 0 0px 1000px #1a1a19 inset;
    transition: background-color 5000s ease-in-out 0s;
}

/*----------Footer----------*/

.footer-hr {
    border-color: #c6a76c;
    border-width: 2px;
    width: 135px;
    margin-left: 0;
    margin-top: 0;
}

.align-right {
    text-align: right;
    display: table-cell;
    float: right;
}

.opening-times {
    padding: 0;
    margin: 0;
}

.opening-times li {
    list-style: none;
    padding: 3px 5px;
}

.footer-container {
    padding: 3px 5px;
}

.footer-active {
    background-color: #c6a76c;
    color: #000000;
    border-radius: 4px;
}

.footer-content {
    padding: 0 5px;
}

.standard-link {
    overflow-wrap: break-word;
    color: #c6a76c;
    transition: color .2s linear;
}

.standard-link:hover {
    color: #555adf;
    text-decoration: none;
}

.social-link {
    font-size: 30px;
    margin-right: 3px;
}

/*----------Navbar----------*/

.nav-container {
    background: linear-gradient( 
        180deg, 
        rgba(51,51,51,1) 0%, 
        rgb(94 94 94) 28%, 
        rgb(0 0 0) 100%);
    font-family: 'Archivo Narrow', sans-serif;
}

#nav-spacer {
    height: 55px;
}

.desktop-menu {
    text-decoration: none;
    list-style: none;
    display: flex;
    min-height: 6vh;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    background-color: transparent;
}

nav ul li {
    padding: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.big-div {
    min-height: 150vh;
}

.nav-link {
    text-decoration: none;
    color: #adadad;
    transition: color 0.2s ease;
    cursor: pointer;
}

.nav-link:hover {
    color: #c6a76c;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8d8d8;
    min-width: 160px;
    z-index: 1000;
    margin-left: 15%;
    text-transform: capitalize;
    font-weight: 500;
    border-top: 2px solid #756a01;
}

.dropdown-content a {
    display: block;
    padding: 5px;
    color: #564654;
    transition: all 0.2s ease;
    border-bottom: 1px solid #cacaca;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #c6a76c;
    color: #fafafa;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-btn {
    color: #c6a76c;
}

.active {
    color: #c6a76c;
}

.user-options {
    border: 1px solid #fafafa;
    background: #484103;
    padding: 3px 12px;
    border-radius: 12px;
    font-size: 20px;
}

.user-options a {
    color: #d8d8d8;
}

.user-options a:first-child {
    padding-right: 5px;
}

.user-options a:last-child {
    padding-left: 5px;
}

/*----------Mobile Navbar----------*/

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 55px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger-btn {
    width: 27px;
    height: 4px;
    background-color: #adadad;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-btn::before,
.burger-btn::after {
    content: '';
    position: absolute;
    width: 27px;
    height: 4px;
    background-color: #adadad;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-btn::before {
    transform: translateY(-8px);
}

.burger-btn::after {
    transform: translateY(8px);
}

/*menu button animation*/

.menu-btn.open .burger-btn {
    background: transparent;
}

.menu-btn.open .burger-btn::before {
    transform: rotate(225deg);
}

.menu-btn.open .burger-btn::after {
    transform: rotate(-225deg);
}

.menu-container {
    width: 100%;
    padding-bottom: 55px;
    background-color: #000000ed;
    box-shadow: 2px 5px 6px rgb(0 0 0 / 40%);
    text-align: center;
    display: none;
    max-height: 100vh;
    overflow: auto;
}

.mobile-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

#mobile-nav {
    position: relative;
}

.mobile-nav-dropdown {
    list-style: none;
    padding: 0;
    display: none;
}

.mobile-nav-dropdown li {
    background-color: #bababf;
    border: 1px solid grey;
}

.mobile-nav-dropdown li a {
    color: #424242;
}

.mobile-float {
    position: relative;
    float: right;
    top: 9px;
    right: 10px;
}

.max-55 {
    height: 55px;
}

.nav-bar-top {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

/*----------Home Page----------*/

.ad-container {
    width: 100%;
    height: auto;
    max-height: 74.5vh;
}

.ad-image {
    width: 100%;
    height: 50vw;
    max-height: 77.5vh;
    object-fit: cover;
    animation: zoom-in-out;
    -webkit-animation: zoom-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

.ad-description {
    margin: auto;
    width: auto;
    padding: 5px 10px;
    text-align: center;
}

.ad-name {
    color: #fafafa;
    font-size: 8vw;
    text-shadow: 3px 3px black;
    font-family: 'Dancing Script', sans-serif;
}

.ad-divider {
    border-color: #fafafa;
    border-width: 3px;
    width: 15vw;
    margin: 0 auto;
    padding-bottom: 2vw;
}

.ad-btn {
    color: #fafafa;
    border: 2px solid #5e4906;
    border-radius: 15px;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    background-color: rgb(69, 52, 4);
}

.ad-btn:hover {
    color: #1a1a18;
    font-weight: 600;
    background-color: #9f8057;
}

.img-overlay {
    height: 101%;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    background-image: linear-gradient(0deg, #020201, transparent, transparent);
    display: flex;
}

.dark-content {
    color: #fafafa;
}

.photo-card {
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
}

.box-image {
    height: 100%;
    width: 100%;
}

.bg-transition-container {
    height: 7vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.bg-transition {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
}

.bg-gold {
    background-color: #c6a76c;
}

.bg-off-white {
    background-color: #fafafa;
}

.bg-light-grey,
.bg-light-grey:focus {
    background-color: #3a3a38;
}

.bg-grey-50 {
    background-color: rgb(74 74 74 / 50%);
}

.bg-trans {
    background-color: transparent;
}

.bg-grey {
    background-color: #262624;
}

.bg-darker {
    background-color: #1a1a18;
}

.bg-darkest {
    background-color: #121212;
}

.callback-padding {
    padding: 0 0 60px 0;
}

.dark-fade {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
    0deg,
    black, transparent, transparent);
}

/*----------ABOUT (GENERAL)----------*/

.about-header {
    background-image: url(/media/defaults/stockvault-speedometer151553.jpg);
    background-blend-mode: multiply;
}

/*----------About Us----------*/



/*----------The Team----------*/

.border-l-grey {
    border: 1px solid #837a7a;
}

.hr-100-grey {
    width: 100%;
    background-color: #837a7a;
    margin-top: -1px;
}

/*----------Terms & Conditions----------*/



/*----------Finance options----------*/



/*----------User Management----------*/

.user-header {
    background-image: url(/media/defaults/motherboard.jpg);
    background-blend-mode: color-burn;
}

.counter {
    background-color: #c6a76c;
    color: black;
    display: inline-block;
    padding: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

.w-13 {
    width: 13px;
}

.custom-select {
    border-radius: 0;
    background-color: #c6a76c;
    color: #1a1a18;
}

#error-container {
    color: #bb1f1f;
    padding-top: 17px;
}

/*----------SERVICES (GENERAL)----------*/

.card {
    background-color: #222222;
    margin: 8px 0;
    box-shadow: 1px 1px 4px #0c0c0c;
}

.card-body {
    background-color: #fafafa;
    color: #212121;
}

.btn-link {
    color: #fafafa;
}

.btn-link:hover {
    color: #c6a76c;
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
}

.btn-link i {
    color: #c6a76c;
}

.bg-fixed {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.dark-shadow {
    background-color: rgba(0,0,0,0.9);
}

/*----------Chip tuning----------*/

.bg-car {
    background-image: url(/media/defaults/car.jpg);
}

/*----------Engine Rebuilds----------*/

.bg-engine {
    background-image: url(/media/defaults/engine-bg.jpg);
}

/*----------Track/Drift Perparation----------*/

.bg-track {
    background-image: url(/media/defaults/custom-airbox.jpg);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

/*----------Testimonials----------*/

.testimonials-header {
    background-image: url(/media/defaults/stars.jpg);
    background-blend-mode: color-burn;
}

.haze-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 40px 0;
    border-radius: 5px;
}

.review-form {
    max-width: 650px;
    margin: 0 auto;
}

.review {
    background-color: #fafafa;
    max-width: 950px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 3px;
    color: #1a1a18;
}

.text-orange {
    color: #ff7600;
}

.thumbnail-container {
    width: 100%;
    height: auto;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 10px;
}

.img-container {
    width: auto;
    height: 130px;
    overflow: hidden;
    display: inline-block;
}

.thumbnail {
    height: 100%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.img-delete {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    cursor: pointer;
}

.delete-cross {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    color: #c6a76c;
    transition: color .5s linear;
    -webkit-transition: color .5s linear;
}

.delete-cross:hover {
    color: #555adf;
}

.dark-hover {
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
}

.dark-hover:hover {
    background-color: rgba(0,0,0,0.4);
}

.dark-hover:hover .thumbnail {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
}

.dark-hover:hover .img-delete {
    visibility: visible;
    opacity: 1;
}

.user-star {
    font-size: 30px;
    cursor: pointer;
}

.rank .star-checked {
    color: #ff7600 !important; /* check */
}

.rank > .star-checked:after {
    color: #ff7600 !important; /* check */
}

.rank {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

.rank > .user-star {
    position: relative;
    margin: 0;
    height: 30px;
    color: #ccc;
    transition: color 350ms;
    -webkit-transition: color 350ms;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.rank > .user-star + .user-star {
    margin-top: 10px;
}

.rank > .user-star:hover,
.rank > .user-star:hover ~ .user-star {
    color: #ff7600;
}

.rank > .star-checked,
.rank > .star-checked ~ .user-star {
    color: #ff7600;
}

.rank > .user-star:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 10px;
}

.star-warning {
    width: 213px;
    margin: 0 auto 15px;
    background-color: #565555;
    padding: 8px;
    border-radius: 5px;
    top: 66px;
    left: 0;
    right: 0;
    position: absolute;
}

.star-warning:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: -12px;
    margin: 0 auto;
    border-bottom: 15px solid #565555;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    width: 20px;
}

.back-button-container {
    padding-bottom: 2.5rem;
    font-size: 25px;
}

.i-move:hover i {
    animation: back-and-forth 1.5s;
    animation-iteration-count: infinite;
}

.post-review {
    padding-top: 30px;
    padding-bottom: 45px;
}

/*----------Pricing----------*/

.pricing-header {
    background-image: url(/media/defaults/accounting.jpg);
    background-blend-mode: color-burn;
}

/*----------SHOP (GENERAL)----------*/

.shop-header {
    background-image: url(/media/defaults/car-sales.jpg);
    background-blend-mode: multiply;
}


/*----------Pricing----------*/


/*----------Blog----------*/

.blog-header {
    background-image: url(/media/defaults/blog.jpg);
    background-blend-mode: multiply;
}

.haze-top {
    padding-top: 5px;
}

.blog-container {
    color: #1a1a18;
    border-radius: 5px;
    overflow: hidden;
}

.control-link {
    color: #5a5959;
    padding-left: 10px;
}

.control-link:hover {
    color: #1a1a18;
    font-weight: bold;
    text-decoration: none;
}

.control-link.active {
    background-color: grey;
}

.image-container {
    height: 285px;
    overflow: hidden;
    width: 100%;
}

.blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-bg {
    background-color: #d3cfcf;
    padding: 1px 7px;
    border-radius: 12px;
}

.full-blog-image-container {
    max-width: 100%;
    width: auto;
    overflow: hidden;
}

.portrait {
    height: 80vw;
    max-height: 590px;
}

.landscape {
    height: 60vw;
    max-height: 460px;
}

.blog-header-image {
    width: auto;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.blog-vid {
    max-width: 100%;
    max-height: 400px;
}

.video_default {
    width: 100%;
    max-width: 559px;
    height: auto;
    box-shadow: 3px 3px 6px black;
    border: 5px solid #c6a86c;
    margin-bottom: 20px;
    margin-top: 15px;
}

/*----------Contact----------*/

.contact-header {
    background-image: url(/media/defaults/old-phone.jpg);
    background-blend-mode: multiply;
}

.contact-link {
    background-color: rgba(255,255,255,0.1);
    padding: 15px;
}

.send-btn {
    background-color: #c6a76c;
    border: 1px solid #5a5959;
    color: #202020;
    font-weight: 600;
    margin-top: 5px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.send-btn:disabled {
    background-color: #7a756a;
}

.send-btn:disabled:hover {
    background-color: #7a756a;
    border: 1px solid #5a5959;
    color: #202020;
    font-weight: 600;
    margin-top: 5px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.send-btn-active {
    background-color: #555adf;
    border: 1px solid #5a5959;
    color: white;
    font-weight: 600;
    margin-top: 5px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.send-btn:hover {
    background-color: #555adf;
    color: white;
}

.request-btn {
    border: 1px solid #767676;
    background-color: #1a1a18;
    color: #fafafa;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.request-btn:hover {
    background-color: #555adf;
}

.maps-iframe {
    width: 100%;
    height: 450px;
    max-width: 1110px;
    margin: 10px 5px;
    border: 3px solid #856934;
}

.services-header {
    background-image: url(/media/defaults/engine-components.jpg);
    background-blend-mode: color-burn;
}

.contact-container {
    text-align: left;
}

.contact-item {
    padding: 10px;
    height: 100%;
    border-radius: 5px;
}

/*----------Admin----------*/

.message-section {
    background-color: #fafafa;
    color: black;
    padding: 2px 5px;
    border: 1px solid grey;
}

.message-container {
    overflow: hidden;
    border: 1px solid #c6a76c;
    border-radius: 5px;
}

.external-message-section {
    padding: 20px 5px 0 5px;
}

.reply-form {
    background-color: #c6a76c;
    max-width: 930px;
    text-align: center;
    margin: auto;
    margin-top: 35px;
    border-radius: 5px;
    padding: 20px 10px 13px;
}

#message-reply {
    display: none;
}

.response-block {
    background-color: #e1d9d9;
    padding: 2px;
}

.form-extend {
    background-color: #fafafa;
    border-top: 1px solid #dee2e6;
}

/*----------Keyframes----------*/

@keyframes zoom-in-out {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 1.5s linear;
}

@keyframes back-and-forth {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

/*----------Media Queries----------*/

@media (min-width: 840px) {
    .page-header {
        font-size: 96px;
    }
}

@media (min-width: 500px) {
    .account-container {
        background-color: rgba(255,255,255,0.1);
        padding: 20px 10px;
    }
}

@media (min-width: 576px) {
    .image-container {
        height: 350px;
    }
}

@media (min-width: 992px) {
    .lg-text-center {
        text-align: center;
    }
    .hr-lg-center {
        margin-left: auto;
        width: 35%;
    }
}

@media (min-width: 1197px) {
    .ad-name {
        font-size: 96px;
    }
}

@media (min-width: 1500px) {
    .lg-expand {
        margin-left: -90px;
        margin-right: -90px;
    }
}

/*----------Testing----------*/

