/*----------General----------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#base-header {
    text-align: center;
    background-color: #1a1a18;
}

.main-logo {
    height: 180px;
    width: auto;
}

.light-shadow {
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

/*----------Navbar----------*/

.nav-container {
    background-color: #d8d8d8;
}

#nav-spacer {
    height: 55px;
}

.desktop-menu {
    text-decoration: none;
    list-style: none;
    display: flex;
    min-height: 6vh;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #d8d8d8;
}

nav ul li {
    padding: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.big-div {
    min-height: 150vh;
}

.nav-link {
    text-decoration: none;
    color: #564654;
    transition: color 0.2s ease;
    cursor: pointer;
}

.nav-link:hover {
    color: #756a01;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8d8d8;
    min-width: 160px;
    z-index: 1;
    margin-left: 15%;
    text-transform: capitalize;
    font-weight: 500;
    border-top: 2px solid #756a01;
}

.dropdown-content a {
    display: block;
    padding: 5px;
    color: #564654;
    transition: all 0.2s ease;
    border-bottom: 1px solid #cacaca;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: rgba(117,106,1,0.7);
    color: #fafafa;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-btn {
    color: #756a01;
}

.active {
    color: #756a01;
    transform: scale(1.2);
}

/*----------Mobile Navbar----------*/

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 55px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger-btn {
    width: 27px;
    height: 4px;
    background-color: #564654;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-btn::before,
.burger-btn::after {
    content: '';
    position: absolute;
    width: 27px;
    height: 4px;
    background-color: #564654;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-btn::before {
    transform: translateY(-8px);
}

.burger-btn::after {
    transform: translateY(8px);
}

/*menu button animation*/

.menu-btn.open .burger-btn {
    background: transparent;
}

.menu-btn.open .burger-btn::before {
    transform: rotate(225deg);
}

.menu-btn.open .burger-btn::after {
    transform: rotate(-225deg);
}

.menu-container {
    width: 100%;
    padding-bottom: 55px;
    background-color: #d8d8d8;
    box-shadow: 2px 5px 6px rgb(0 0 0 / 40%);
    text-align: center;
    display: none;
    max-height: 100vh;
    overflow: scroll;
}

.mobile-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.mobile-nav-dropdown {
    list-style: none;
    padding: 0;
    display: none;
}

.mobile-nav-dropdown li {
    background-color: #bababf;
    border: 1px solid grey;
}

.mobile-nav-dropdown li a {
    color: #424242;
}