{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header blog-header">
                    <h1 class="page-header">Blog</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-engine bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4">
                    <div class="col pt-4">
                        <h2>APC Blog</h2>
                        <hr class="hr-gold-short hr-left">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-grey-50 haze-container mt-0">
                            {% for post in blog_posts %}
                                <h1>{{ post.category }}</h1>
                                <h2>{{ post.post_title }}</h2>
                                <h3>{{ post.added_on }}</h3>
                                <h4>{{ post.post_body }}</h4>
                                <h5>{{ post.images.url }}</h5>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}