{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header pricing-header">
                    <div class="dark-fade">
                        <h1 class="page-header">Pricing</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-engine bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4">
                    <div class="col pt-4">
                        <h2>Pricing and Finance Options</h2>
                        <hr class="hr-gold-short hr-left">
                        <section>
                            We offer a 0% finance spread over 4, 6 and 12 convenient payments on all of our products/services.
                            We also offer a pre paid service plan for any vehicle. Please contact us for more information.
                            Hourly rate £70 per hour
                            jobs done in industry standard autodata times.
                            Chip tuning, starts from £199
                            Engine rebuilds starting from £999
                            minor service starting from £79
                            major service starting from £129
                            custom exhausts starting from £150 
                            wheel repair starting from £50
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}