{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header pricing-header">
                    <h1 class="page-header">Pricing</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker dark-content pl-0 pr-0 pt-3 pb-3">
        <div class="row">
            <div class="col pt-4">
                <h3>Finance Options</h3>
                We offer a 0% finance spread over 4, 6 and 12 convenient payments on all of our products/services.
                We also offer a pre paid service plan for any vehicle. Please contact us for more information.
                Hourly rate £70 per hour
                jobs done in industry standard autodata times.
                Chip tuning, starts from £199
                Engine rebuilds starting from £999
                minor service starting from £79
                major service starting from £129
                custom exhausts starting from £150 
                wheel repair starting from £50
            </div>
        </div>
    </div>
{% endblock %}