{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="container-fluid bg-darker account-bg">
    <div class="container dark-content allauth-page">
        <div class="account-container">
            <h1>{% trans "Account Inactive" %}</h1>

            <p>{% trans "This account is inactive." %}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      let navSection = document.getElementById("mobile-nav");
      navSection.scrollIntoView({
      behavior: "smooth"
      });
    });
  </script>
  {% endblock %}
