{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

<title>{% block extra_title %}Sign Out | {% endblock %}</title>

{% block content %}
<div class="container-fluid allauth-bg p-0">
  <div class="container-fluid dark-shadow account-bg">
    <div class="container dark-content allauth-page">
      <div class="account-container">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn send-btn">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}