{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
<title>{% block extra_title %}Change Password | {% endblock %}</title>

{% block content %}
<div class="container-fluid bg-darker account-bg">
    <div class="container dark-content allauth-page">
        <div class="account-container">
            <h1>{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
</div>
{% endblock %}
