{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid bg-darker account-bg">
    <div class="container dark-content allauth-page">
        <div class="account-container">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="standard-link" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn send-btn" name="action" value="{% trans 'change password' %}"/>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
