{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

<title>{% block extra_title %}Change Password | {% endblock %}</title>

{% block content %}
<div class="container-fluid bg-darker account-bg">
    <div class="container dark-content allauth-page">
        <div class="account-container">
            <h1>{% trans "Change Password" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" name="action" class="btn send-btn">{% trans "Change Password" %}</button>
                <a class="standard-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
