{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
<title>{% block extra_title %}Sign Up | {% endblock %}</title>

{% block content %}
<div class="container-fluid allauth-bg p-0">
  <div class="container-fluid dark-shadow account-bg">
    <div class="container dark-content allauth-page">
      <div class="account-container">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a class="standard-link" href="{{ login_url }}">sign
            in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="controls">
            <input id="terms" type="checkbox" name="terms"> I accept the <a href="{% url 'terms_and_conditions' %}" target="_blank">Terms & Conditions</a>
          </div>
          <button id="signup-submit" class="btn send-btn" type="submit" disabled>{% trans "Sign Up" %} &raquo;</button>
        </form>
        <div id="error-container">

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
  <script>
    $(document).ready(function() {
      $('#terms').click(function() {
        if ($('#terms').is(':checked')) {
          $('#signup-submit').attr('disabled', false)
        } else {
          $('#signup-submit').attr('disabled', true)
        }
      });
    });
  </script>
{% endblock %}