{% load static %}

<!Doctype html>
<html lang="en">

<head>
    {% block core_meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--Fancybox-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
    {% endblock %}

    {% block extra_css %}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}apple-touch-icon.png">
    {% endblock %}

    {% block core_js %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--Fancybox-->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block extra_title %}{% endblock %}{% if title %}{{ title|title }} | Anglia Performance Centre{% else %}Anglia Performance Centre{% endif %}{% if param_title %} | {{ param_title }}{% endif %}</title>
</head>

<body>

    {% block page_header %}
    {% endblock %}
    <div id="banner">
        <div class="container">
            <span class="float-left p-1">
                <i class="fas fa-phone"></i><a class="plain-link font-weight-bold" href="tel:07919094120"> 07919 094120</a><br/>
            </span>
            <span class="float-right p-1 d-none d-md-inline">
                <i class="far fa-envelope"></i><a class="plain-link font-weight-bold" target="_blank" href="mailto:contact@apcperformance.co.uk"> contact@apcperformance.co.uk</a>
            </span>
        </div>
    </div>

    <header id="base-header"><a href="{% url 'home' %}"><img src="{{ MEDIA_URL }}defaults/APC-Logo.jpeg" alt="APC Website Logo"
                class="main-logo"></a></header>
    <div id="nav-spacer" class="d-none"></div>

    <!-- Desktop Navbar -->
    <div class="nav-container d-none d-lg-block">
        <nav class="light-shadow">
            <ul class="desktop-menu">
                <li class="dropdown">
                    <span class="nav-link dropdown-btn {% if section == 'about' %}active{% endif %}">About</span>
                    <div class="dropdown-content light-shadow">
                        <a href="{% url 'about_us' %}">About Us</a>
                        <a href="{% url 'the_team' %}">The Team</a>
                        <a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a>
                    </div>
                </li>
                <li class="dropdown">
                    <span class="nav-link dropdown-btn {% if section == 'services' %}active{% endif %}">Services</span>
                    <div class="dropdown-content light-shadow">
                        <a href="{% url 'chip_tuning' %}">Chip tuning</a>
                        <a href="{% url 'engine_rebuilds' %}">Engine Rebuilds</a>
                        <a href="{% url 'servicing_and_repairs' %}">Servicing and Repairs</a>
                        <a href="{% url 'diagnostics' %}">Diagnostics</a>
                        <a href="{% url 'custom_exhausts' %}">Custom Exhausts</a>
                        <a href="{% url 'wheel_repair' %}">Wheel Repair</a>
                        <a href="{% url 'corner_weight_setup' %}">Corner Weight Setup</a>
                        <a href="{% url 'track_drift_preparation' %}">Track/Drift Preparation</a>
                    </div>
                </li>
                <li><a class="nav-link {% if section == 'testimonials' %}active{% endif %}" href="{% url 'testimonials' %}">Testimonials</a>
                </li>
                <li><a class="nav-link {% if section == 'pricing' %}active{% endif %}" href="{% url 'pricing' %}">Pricing</a></li>
                <li class="dropdown">
                    <span class="nav-link dropdown-btn {% if section == 'shop' %}active{% endif %}">Shop</span>
                    <div class="dropdown-content light-shadow">
                        <a href="{% url 'cars' %}">Cars</a>
                        <a href="{% url 'parts' %}">Parts</a>
                    </div>
                </li>
                <li><a class="nav-link {% if section == 'blog' %}active{% endif %}" href="{% url 'blog' %}">Blog</a></li>
                <li><a class="nav-link {% if section == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a></li>

                <!--User options/cart button-->
                <div class="btn-group">
                    <div class="btn-group dropleft" role="group">
                        {% if total_ur_count and user.is_staff > 0 %}
                        <div class="total-count">{{ total_ur_count }}</div>
                        {% endif %}
                        <button type="button" class="btn btn-pro-cart dropdown-toggle dropdown-toggle-split apc-border"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            <span class="sr-only">Toggle Dropleft</span>
                        </button>
                        <div class="dropdown-menu">
                            {% if user.is_authenticated %}
                                <a href="{% url 'account_logout' %}"><button class="dropdown-item" type="button">Sign Out</button></a>
                                <a href="{% url 'profile' %}"><button class="dropdown-item" type="button">Profile</button></a>
                                {% if user.is_staff %}
                                    <a href="{% url 'admin_messages' %}"><button class="dropdown-item" type="button">Admin{% if total_ur_count > 0 %} ({{ total_ur_count }}){% endif %}</button></a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'account_login' %}"><button class="dropdown-item" type="button">Sign In</button></a>
                                <a href="{% url 'account_signup' %}"><button class="dropdown-item" type="button">Sign Up</button></a>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% url 'cart' %}">
                        <button type="button" class="btn btn-pro-cart apc-border">
                            <i class="fas fa-shopping-cart"></i> £0.00
                        </button>
                    </a>
                </div>

            </ul>
        </nav>
    </div>

    <!--Mobile Navbar-->
    <div class="nav-container max-55 d-block d-lg-none">
        <nav class="light-shadow" id="mobile-nav">
            <ul class="nav-bar-top">
                <li class="p-0">
                <div class="menu-btn">
                    <div class="burger-btn"></div>
                </div>
                </li>

                <!--User options/cart button-->
                <li class="p-0 ml-auto">
                    <div class="btn-group mobile-float">
                        <div class="btn-group dropleft" role="group">
                            {% if total_ur_count > 0 and user.is_staff %}
                            <div class="total-count">{{ total_ur_count }}</div>
                            {% endif %}
                            <button type="button" class="btn btn-pro-cart dropdown-toggle dropdown-toggle-split apc-border"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                <span class="sr-only">Toggle Dropleft</span>
                            </button>
                            <div class="dropdown-menu">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'account_logout' %}"><button class="dropdown-item" type="button">Sign Out</button></a>
                                    <a href="{% url 'profile' %}"><button class="dropdown-item" type="button">Profile</button></a>
                                    {% if user.is_staff %}
                                        <a href="{% url 'admin_messages' %}"><button class="dropdown-item" type="button">Admin ({{ total_ur_count }})</button></a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'account_login' %}"><button class="dropdown-item" type="button">Sign In</button></a>
                                    <a href="{% url 'account_signup' %}"><button class="dropdown-item" type="button">Sign Up</button></a>
                                {% endif %}
                            </div>
                        </div>
                        <a href="{% url 'cart' %}">
                            <button type="button" class="btn btn-pro-cart apc-border">
                                <i class="fas fa-shopping-cart"></i> £0.00
                            </button>
                        </a>
                    </div>
                </li>
            </ul>

            <div class="menu-container d-lg-none hidden">
                <ul class="mobile-menu">
                    <li><a class="nav-link {% if section == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="mobile-dropdown-btn">
                        <span class="nav-link {% if section == 'about' %}active{% endif %}">About</span>
                        <ul class="mobile-nav-dropdown">
                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                            <li><a href="{% url 'the_team' %}">The Team</a></li>
                            <li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a></li>
                        </ul>
                    </li>
                    <li class="mobile-dropdown-btn">
                        <span class="nav-link {% if section == 'services' %}active{% endif %}">Services</span>
                        <ul class="mobile-nav-dropdown">
                            <li><a href="{% url 'chip_tuning' %}">Chip tuning</a></li>
                            <li><a href="{% url 'engine_rebuilds' %}">Engine Rebuilds</a></li>
                            <li><a href="{% url 'servicing_and_repairs' %}">Servicing and Repairs</a></li>
                            <li><a href="{% url 'diagnostics' %}">Diagnostics</a></li>
                            <li><a href="{% url 'custom_exhausts' %}">Custom Exhausts</a></li>
                            <li><a href="{% url 'wheel_repair' %}">Wheel Repair</a></li>
                            <li><a href="{% url 'corner_weight_setup' %}">Corner Weight Setup</a></li>
                            <li><a href="{% url 'track_drift_preparation' %}">Track/Drift Preparation</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link {% if section == 'testimonials' %}active{% endif %}" href="{% url 'testimonials' %}">Testimonials</a></li>
                    <li><a class="nav-link {% if section == 'pricing' %}active{% endif %}" href="{% url 'pricing' %}">Pricing</a></li>
                    <li class="mobile-dropdown-btn">
                        <span class="nav-link {% if section == 'shop' %}active{% endif %}">Shop</span>
                        <ul class="mobile-nav-dropdown">
                            <li><a href="{% url 'cars' %}">Cars</a></li>
                            <li><a href="{% url 'parts' %}">Parts</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link {% if section == 'blog' %}active{% endif %}" href="{% url 'blog' %}">Blog</a></li>
                    <li><a class="nav-link {% if section == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

    {% block content %}
    {% endblock %}

    <!--Footer-->
    {% now "D" as dayofweek %}
    <footer>
        <div class="container-fluid bg-darkest text-grey pb-4 pt-4">
            <div class="container">
                <div class="row lg-expand">
                    <div class="col-12 col-lg-4 p-2 mt-2 mb-2">
                        <h3 class="uppercase">Contact</h3>
                        <hr class="footer-hr">
                        <div class="footer-content">
                            <address class="footer-container mb-1">
                                <span class="uppercase">Anglia Performance Centre</span><br/>
                                Unit 26<br/>
                                Mancetter Square<br/>
                                Lincoln Road<br/>
                                Werrington<br/>
                                PE4 6BX
                            </address>
                            <address class="footer-container pt-2 mb-0">
                                <div>
                                    <i class="fas fa-phone"></i><a class="standard-link" href="tel:07919094120"> 07919 094120</a><br/>
                                </div>
                                <div>
                                    <i class="far fa-envelope"></i><a class="standard-link" target="_blank" href="mailto:contact@apcperformance.co.uk"> contact@apcperformance.co.uk</a>
                                </div>
                                <div>
                                    <i class="fas fa-route"></i><a class="standard-link" href="https://maps.google.com/maps/dir//PE4+6BX+Mancetter+Square+Peterborough/@52.6067088,-0.2753039,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x4877f14f53fda31d:0xcc763535023825a6" target="_blank"> Directions</a>
                                </div>
                            </address>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2 mt-2 mb-2">
                        <h3 class="uppercase">Opening hours</h3>
                        <hr class="footer-hr">
                        <div class="footer-content">
                            <ul class="opening-times uppercase">
                                <li {% if dayofweek == 'Mon' %}class="footer-active"{% endif %}>
                                    <div>
                                        <strong>Monday</strong><span class="align-right {% if dayofweek == 'Mon' %}font-weight-bold{% endif %}">09:00 - 17:00</span>
                                    </div>
                                </li>
                                <li {% if dayofweek == 'Tue' %}class="footer-active"{% endif %}>
                                    <div>
                                        <strong>Tuesday</strong><span class="align-right {% if dayofweek == 'Tue' %}font-weight-bold{% endif %}">09:00 - 17:00</span>
                                    </div>
                                </li>
                                <li {% if dayofweek == 'Wed' %}class="footer-active"{% endif %}>
                                    <div>
                                        <strong>Wednesday</strong><span class="align-right {% if dayofweek == 'Wed' %}font-weight-bold{% endif %}">09:00 - 17:00</span>
                                    </div>
                                </li>
                                <li {% if dayofweek == 'Thu' %}class="footer-active"{% endif %}>
                                    <div>
                                        <strong>Thursday</strong><span class="align-right {% if dayofweek == 'Thu' %}font-weight-bold{% endif %}">09:00 - 17:00</span>
                                    </div>
                                </li>
                                <li {% if dayofweek == 'Fri' %}class="footer-active"{% endif %}>
                                    <div>
                                        <strong>Friday</strong><span class="align-right {% if dayofweek == 'Fri' %}font-weight-bold{% endif %}">09:00 - 17:00</span>
                                    </div>
                                </li>
                                <li {% if dayofweek == 'Sat' %}class="footer-active"{% endif %}>
                                    <div>
                                        <strong>Saturday</strong><span class="align-right {% if dayofweek == 'Sat' %}font-weight-bold{% endif %}">09:00 - 12:00</span>
                                    </div>
                                </li>
                                <li {% if dayofweek == 'Sun' %}class="footer-active"{% endif %}>
                                    <div>
                                        <strong>Sunday</strong><span class="align-right {% if dayofweek == 'Sun' %}font-weight-bold{% endif %}">Closed</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2 mt-2">
                        <div class="row">
                            <div class="col mb-2">
                                <h3 class="uppercase">Ts & Cs</h3>
                                <hr class="footer-hr">
                                <div class="footer-content">
                                    <p>View our <a class="standard-link" href="{% url 'terms_and_conditions' %}">Terms and Conditions</a>.</p>
                                    <p>View our <a target="_blank" class="standard-link" href="{{ MEDIA_URL }}Privacy-Policy.pdf">Privacy Policy</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 class="uppercase">Social Media</h3>
                                <hr class="footer-hr mb-2">
                                <div class="footer-content">
                                    <a class="social-link standard-link" href="https://www.instagram.com/anglia_performance_centre/?hl=en" target="_blank"><i class="fab fa-instagram-square"></i></a>
                                    <a class="social-link standard-link" href="https://www.facebook.com/anglia_performance_centre-105018164979685" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <center>
                            <small>© Anglia Performance Center Ltd. All Rights Reserved. Created by MsMedia.</small>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="cookie-consent-container">
        <p class="m-0">This site uses cookies. See our <a target="_blank" href="{{ MEDIA_URL }}Privacy-Policy.pdf">Privacy Policy</a> for details.</p>
        <button class="btn send-btn px-3 cookie-consent">OK</button>
    </div>

    {% if messages %}
    <div class="toast-position">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        <!--error-->
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        <!--warning-->
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        <!--success-->
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        <!--info-->
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block postload_js %}
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
            $('.toast').on('shown.bs.toast', function () {
                function hidetoast () {
                    $('.toast').toast('hide');
                };
                setTimeout(hidetoast, 5000);
            });
            
            let headerHeight = document.getElementById("base-header").offsetHeight;
            let bannerHeight = 0;
            if ($("#banner").length > 0) {
                bannerHeight = document.getElementById("banner").offsetHeight;
            };
            let height = headerHeight + bannerHeight - 1;


            $(window).on('scroll', function () {
                if ($(window).scrollTop() >= height) {
                    $(".nav-container").addClass("fixed-top");
                    $("#nav-spacer").removeClass("d-none");
                } else {
                    $(".nav-container").removeClass("fixed-top");
                    $("#nav-spacer").addClass("d-none");
                }
            });

            function scrollFromTop() {
                $(window).scrollTop($('#mobile-nav').position().top)
            };

            const menuBtn = $(".menu-btn");
            let menuOpen = false;
            menuBtn.click(function () {
                if (!menuOpen) {
                    if ($(window).scrollTop() < height) {
                        scrollFromTop();
                        setTimeout(function() {
                            $(".menu-container").slideToggle();
                            menuBtn.addClass("open");
                            menuOpen = true;
                            document.body.style.overflow = 'hidden';
                        },200)
                    } else {
                        $(".menu-container").slideToggle();
                        menuBtn.addClass("open");
                        menuOpen = true;
                        document.body.style.overflow = 'hidden';
                    };
                } else {
                    $(".menu-container").slideToggle();
                    menuBtn.removeClass("open");
                    menuOpen = false;
                    document.body.style.overflow = 'scroll';
                };
            });

            $(".mobile-dropdown-btn").click(function () {
                $(this).children().last().slideToggle();
            });

            const cookieConsentContainer = $('.cookie-consent-container');
            const cookieConsentButton = $('.cookie-consent');

            cookieConsentButton.click(function() {
                cookieConsentContainer.removeClass('bottom-0');
                localStorage.setItem("cookieConsent", "true");
            });
            if (!localStorage.getItem("cookieConsent")) {
                setTimeout(function() {
                    cookieConsentContainer.addClass('bottom-0');
                }, 2000);
            }
        });
    </script>
    {% endblock %}

</body>

</html>