{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header shop-header">
                    <div class="dark-fade">
                        <div class="page-header">Add a Product</div>
                    </div>
                </header>
            </div>
        </div>    
    </div>
    <div class="container-fluid bg-engine bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4 lg-expand">
                    <div class="col-12 p-0">
                        <section class="bg-off-white text-dark p-3 pt-5 pb-5 rounded">
                            <h1 class="h2">Add a Product</h1>
                            <hr class="hr-gold-short hr-left">
                            <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data" class="" id="product-form">
                                {% csrf_token %}
                                {{ form }}
                                <br/>

                                <div id="expand-add-attr" class="btn btn-secondary mb-2">Attributes</div>
                                <div id="attribute-form" style="display: none;">
                                    <select name="attr-bases" id="attr-bases" class="form-control">
                                        <option class="text-grey" value="None">Select Attribute Type</option>
                                        {% for base in attr_base %}
                                            <option value="{{ base.pk }}">{{ base.label }}</option>
                                        {% endfor %}
                                    </select>
                                    {% for item in attrs %}
                                    <div class="d-none p-1">
                                        <span class="attribute" data-id="{{ item.base.pk }}" data-added="false">{{ item.value }}</span>
                                        <input id="{{ item.pk }}" type="number" step="0.01" placeholder="Extra Cost">
                                        <div data-type="{{ item.base }}" data-attrib="{{ item.value }}" class="btn btn-sm request-btn add-attribute">Add</div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <table class="table mt-2 d-none">
                                    <thead>
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">Attribute</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="attr-insert">
                                        
                                    </tbody>
                                </table>
                                <input type="hidden" name="attributes">
                                
                                <div class="text-center">
                                    <button type="submit" class="btn send-btn" id="product-submit">Add Product</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postload_js %}
{{ block.super }}
    <script>
        $(document).ready(function() {
            $('#expand-add-attr').on('click', function() {
                $('#attribute-form').slideToggle();
            });
            $('#attr-bases').on('change', function() {
                let attrSelected = $('#attr-bases').val();
                $('.attribute').each(function() {
                    if (($(this).data('id') == attrSelected) && ($(this).data('added') == false)) {
                        $(this).parent().removeClass('d-none');
                    } else {
                        $(this).parent().addClass('d-none');
                    }
                });
            });
            $('.add-attribute').on('click', function() {
                let type = $(this).prev().prev().data('id');
                let attribute = $(this).prev().attr('id');
                let cost = $(this).prev().val();
                let typeVal = $(this).data('type');
                let attrVal = $(this).data('attrib');
                let attrInsert = $('#attr-insert');

                $(this).prev().prev().data('added', 'true');
                $(this).parent().addClass('d-none');
                attrInsert.parent().removeClass('d-none')
                attrInsert.append(`<tr data-cost="${cost}" data-value="${attribute}" data-type="${type}"><td>${typeVal}</td><td>${attrVal}</td><td>${cost}</td><td class="text-right"><div class="btn btn-danger remove-attr"><i class="fas fa-trash-alt"></i></div></td></tr>`)
            });

            $('#attr-insert').on('click', '.remove-attr', function() {
                let attrSelected = $('#attr-bases').val();
                let type = $(this).parent().parent().data('type');
                let attribute = $(this).parent().parent().data('value');

                $(`input#${attribute}`).prev().data('added', false);
                if (attrSelected == type) {
                    $(`input#${attribute}`).parent().removeClass('d-none');
                }
                $(this).parent().parent().remove();
            });

            $('#product-submit').on('click', function(e) {
                let form = $('#product-form');
                let category = $('#id_category').val();
                let name = $('#id_name').val();
                let productCode = $('#id_product_code').val();
                let manufacturer = $('#id_manufacturer').val();
                let price = $('#id_price_incl_vat').val();
                let description = $('#id_description').val();

                if (category && name && productCode && manufacturer && price && description) {
                    e.preventDefault();
                    let masterList = []

                    $('#attr-insert').children('tr').each(function() {
                        let eachList = []
                        eachList.push($(this).data('value'));
                        cost = $(this).data('cost');
                        if (cost.length == 0) {
                            cost = 0
                        }
                        eachList.push(cost);
                        masterList.push(eachList);
                    });

                    $('input[name=attributes]').val(JSON.stringify(masterList));
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}