{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header shop-header">
                    <div class="dark-fade">
                        <h1 class="page-header">Vehicle Parts</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-engine bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4">
                    <div class="col pt-4 text-center">
                        <h3>
                            SHOP COMING SOON!
                        </h3>
                        <div class="image-container">
                            <img class="img-fit" src="{{ MEDIA_URL }}defaults/spanners.png" alt="service.png">
                        </div>
                        <p>This part of the site is currently under development.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
