{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="header-container">
            <header class="bg-header shop-header">
                <div class="dark-fade">
                    <div class="page-header">Product Preview</div>
                </div>
            </header>
        </div>
    </div>    
</div>
<div class="container-fluid bg-engine bg-fixed dark-content p-0">
    <div class="container-fluid dark-shadow pl-0 pr-0">
        <div class="container pt-4 pb-5">
            
        </div>
    </div>
</div>
{% endblock %}