{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header team-header">
                    <h1 class="page-header">Contact</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker">
        <div class="row">
            <iframe class="maps-iframe"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdS-6DwpmysbF4sg9UQXdzV5P7_ixv_4o
                    &q=Peterborough PE4 6BX">
            </iframe>
        </div>
        <div class="row">
            {{form}}
        </div>
    </div>
{% endblock %}