{% extends 'base.html' %}

{% block extra_meta %}
<meta name="description" content="Find us, Message us, Call us. This is where we will be."/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header contact-header">
                    <h1 class="page-header">Contact</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker">
        <div class="row justify-content-center">
            <iframe class="maps-iframe"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdS-6DwpmysbF4sg9UQXdzV5P7_ixv_4o
                    &q=Peterborough PE4 6BX">
            </iframe>
        </div>
        <div id="contact-area" class="row p4m4">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-4 mt-2">
                        <div class="contact-item bg-grey">
                            <h3 class="dark-content mt-3 uppercase">Send us a message</h3>
                            <hr class="hr-gold-70">
                            <form action="{% url 'send_message' %}" class="w-100 mt-3" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form|crispy}}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="btn send-btn">SEND</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-4 mt-2">
                        <div class="contact-item bg-grey text-white">
                            <h3 class="dark-content mt-3 uppercase">Contact details</h3>
                            <hr class="hr-gold-70">
                            <div class="contact-container mt-3">
                                <div class="p-1vw">
                                    <i class="fas fa-phone"></i><a class="standard-link" href="tel:07919094120"> 07919 094120</a><br/>
                                </div>
                                <div class="p-1vw pb-3">
                                    <i class="far fa-envelope"></i><a class="standard-link" target="_blank" href="mailto:contact@apcperformance.co.uk"> contact@apcperformance.co.uk</a>
                                </div>
                                <address class="p-1vw">
                                    ANGLIA PERFORMANCE CENTRE<br/>
                                    Unit 26<br/>
                                    Mancetter Square<br/>
                                    Lincoln Road<br/>
                                    Werrington<br/>
                                    PE4 6BX
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-transition-container bg-darker">
        <div class="bg-transition bg-gold"></div>
    </div>
    <section class="container-fluid callback-padding bg-gold">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="section-header text-gold">Request a Callback</h2>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <form action="{% url 'send_callback' %}" method="POST" class="text-center">
                {% csrf_token %}
                <div class="row">
                  {% for field in miniform %}
                  <div class="col-12 col-md-5">
                    {{ field }}
                  </div>
                  {% endfor %}
                  <div class="col-12 col-md-2 text-md-left">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn request-btn mt-0">REQUEST</button>
                  </div>
                </div>          
              </form>
            </div>
          </div>
        </div>
      </section>
{% endblock %}