{% extends 'base.html' %}

{% block extra_meta %}
<meta name="description" content="Based out of Peterborough, Anglia Performance Centre are here to manage your automotive maintenance, modification and repairs."/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header about-header">
                    <div class="dark-fade">
                        <div class="page-header">About Us</div>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-car bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4">
                    <div class="col pt-4">
                        <h1 class="h2">Anglia Performance Centre, Peterborough</h1>
                        <hr class="hr-gold-short hr-left">
                        <section>
                            Based out of Peterborough, Anglia Performance Centre was started back in 2011, this was a new chapter for me (Bart) as I was a one man band, 
                            working from home at the time. <br><br>
                            I Started out as a VW apprentice, then moved on to University, and by a stroke 
                            of luck whilst working for Suzuki, I was approached to join a drag racing team.<br>
                            This brought about a whole different side of engineering for me, the level of organisation and efficiency required was higher than anything
                            I had experienced previously and I can gladly say, I gained some very valuable knowledge from my time there.<br><br>
                            Following on from there, I gathered my tools, experience and rolling road and moved into my new premises, The rest is 
                            history, <strong>Anglia Performance Centre</strong> was born.<br><br>
                            Fast forward to {% now "Y" %}, one of the many things thats sets us apart others in the industry these days is our honesty policy;
                            we won't lie to our customers and will always share our honest opinion.<br> 
                            We try to be as transparent as possible and are always willing to help. <br>
                            We are also always looking to push the boundaries to meet customers requirements and expectations, whether that's to fix your car, 
                            diagnose a fault, set your car up for the race track or completely rebuild your car from the ground up, we are there for our 
                            customers through every step of the process.<br><br>
                            Bart Jakubowski - Owner/Director.
                        </section>
                    </div>
                </div>
                <div class="row d-none">
                    <div class="col-12">
                        Features to implement:<br>
                        *admin search functionality
                        *Receive promotional offers/marketing tickbox
                        *Readme.MD
                        *make blog shareable on facebook etc (youtube video)
                        *improve user admin options/view
                        Chat Feature
                        Online bookings
                        blog/review image upload viewer (callback for-loop)
                        admin sorting options
                        auto count notification when new message etc received (websockets)
                        ajax requests for like button on blog
                        blog comments
                        review comments/reply only (user and admin only)
                        Link user account to extra info -> receive promo emails? -> Name etc
                        User profile with options to receive marketing emails, add/change user details, view reviews/blog comments posted, view previous orders
                        User notifications for updates etc. 
                        vehicle search and save model to account
                        online payments and shop
                        Google analytics with cookie preferences.
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}