{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header about-header">
                    <div class="dark-fade">
                        <h1 class="page-header">About Us</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-car bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container">
                <div class="row">
                    <div class="col pt-4">
                        Based our of Peterborough, Anglia Performance Centre was started back in 2011, this was a new chapter for me as I was a one man band, 
                        working from home. I Started as a VW apprentice, then moved on to University, and by a stroke 
                        of luck whilst working for Suzuki, I was approached to join a drag racing team. Following on from there,
                        I ammased my tools, rolling road and moved into my new premises. The rest is 
                        history. 
                        One of the things thats sets us apart from many in the industry these days is our honesty policy;
                        we wont lie to people and will always share our honest opinion. We try to be as 
                        transparent and honest as possible and are always willing to help. We are also always 
                        looking to push the boundaries to meet customers requirements and expectations, whether that's to fix your car, diagnose a fault,
                        set your car up for the race track or completely rebuild your car from the ground up.
                    </div>
                </div>
                <div class="row d-none">
                    <div class="col-12">
                        Features to implement:<br>
                        *admin add advert
                        *admin search functionality
                        *change acount to staff
                        *Accept terms and conditions when signing up
                        *Receive promotional offers/marketing tickbox
                        Chat Feature
                        Online bookings
                        blog/review image upload viewer (callback for-loop)
                        admin sorting options
                        auto count notification when new message etc received (websockets)
                        ajax requests for like button on blog
                        blog comments
                        make blog shareable on facebook etc (youtube video)
                        Link user account to extra info -> receive promo emails? -> Name etc
                        User profile with options to receive marketing emails, add/change user details, view reviews/blog comments posted, view previous orders
                        User notifications for updates etc. 
                        vehicle search and save model to account
                        online payments and shop
                        Google analytics with cookie preferences.
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}