{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header about-header">
                    <h1 class="page-header">About Us</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker dark-content pl-0 pr-0 pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col pt-4">
                    The business started in 2011, this was a new chapter for me as I was a one man band, 
                    working from home. Strted as a VW apprentice, then University, and by a sheer stroke 
                    of luck, whils working for Suzuki, i got approached to join a drag racing team. From 
                    then on I ammased my tools, rollign road and moved into my new premises. The rest is 
                    just history. Biggest thing thats sets us apartf from many in the industry is the
                        fact that we wont lie to people and will alwasy share our opinion. We try to be as 
                        transparent and honest as possible and are always willing to help. We are also always 
                        looking to grot the business and push the boundaries to meet customers requirements 
                        and expectations.
                </div>
            </div>
        </div>
    </div>    
{% endblock %}