{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header about-header">
                    <div class="dark-fade">
                        <h1 class="page-header">Terms & Conditions</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-car bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div>
                            <h2 class="section-header text-grey">TERMS AND CONDITIONS OF BUSINESS</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <section class="mb-5" id="terms-and-conditions">
                            <p>
                                <strong>1. Definitions</strong>
                            </p>
                            <p>
                                1.1 “The Company” refers to The Anglia Performance Centre Ltd.
                            </p>
                            <p>
                                1.2 “The Buyer” refers to the person, Company or other legal entity who agrees to services being provided by the Company.
                            </p>
                            <p>
                                1.3 “The Conditions" refers to the terms and conditions of the Company’s services, set out in this document as well as any special terms and 
                                conditions agreed (in writing) by a Director.
                            </p>
                            <p>
                                <strong>2. Conditions</strong>
                            </p>
                            <p>
                                2.1 These Conditions will apply to all contracts for any parts or services provided by the Company to the Buyer, to the exclusion of all other terms and 
                                conditions.
                            </p>
                            <p>
                                2.2 Agreement of any work to be carried out by the Company will be deemed conclusive evidence of the Buyer’s acceptance of these Terms and Conditions.
                            </p>
                            <p>
                                <strong>3. The Price and Payment</strong>
                            </p>
                            <p>
                                3.1 The price of the services provided will be the price agreed between the Company and the Buyer. This price may vary, dependent upon any change in 
                                part prices or change in specialist charges, which may come into effect at the time the work 
                                is carried out and which is beyond the control of the Company.
                            </p>
                            <p>
                                3.2 Payment for services will be due at point of collection/delivery of a vehicle following completion of work, unless otherwise agreed
                                 with the Company.
                            </p>
                            <p>
                                <strong>4. Orders / Estimates / Deposits</strong>
                            </p>
                            <p>
                                4.1 Estimates are valid for the date given. If instructions are not received from a customer (in response to an estimate) within 24 hours, 
                                the Company may reserve the right to charge for storage from the date that the vehicle was received until its collection.
                            </p>
                            <p>
                                4.2 All estimates by the Company are subject to change due to variations in cost of labour, material and parts at the date of an estimate. 
                                In the event of this kind of variation occurring, the Company may require the Customer to pay on completion of the work.
                            </p>
                            <p>
                                4.3 If no estimate is provided or if only part of the work is carried out, the Company will be entitled to charge a reasonable 
                                price for the work completed (i.e. stripping down leading to diagnosis and reassembly) 
                                and materials and parts supplied.
                            </p>
                            <p>
                                4.4 The company may refuse to carry out work for any reason whether or not an estimate has been provided.
                            </p>
                            <p>
                                Variations to the estimate, the scope of the repair or work and the prices will be subject to all terms and conditions..
                            </p>
                            <p>
                                4.5. Orders received for Goods or Services from any emplyee of the Customer or by anyone who is reasonably believed to be acting on behalf of the customer 
                                will be binding upon the Customer.
                            </p>
                            <p>
                                4.6 The Company may require a deposit before starting any work.
                            </p>
                            <p>
                                <strong>5. Delivery / Completion</strong>
                            </p>
                            <p>
                                5.1 Every effort will be made to complete agreed work by the estimated time, but the Company will not be liable for any delay in completing 
                                the work.
                            </p>
                            <p>
                                <strong>6. Payment</strong>
                            </p>
                            <p>
                                6.1 Payment for all Goods and Services, repairs and parts supplied is due on completion of work. 
                                All Goods and Services will remain the property of the Company until the Company has received payment in full from the 
                                Customer.
                            </p>
                            <p>
                                6.2 The Company shall have a general lien on all of the Customer’s vehicles and all of their contents for all monies owing to the Company by the 
                                Customer on any account whatsoever. The Company shall be entitled to reasonable storage charges during any period in which the vehicle is retained 
                                by virtue of the lien.
                            </p>
                            <p>
                                6.3. If the Customer’s debt to the Company is not satisfied within 28 days from the date of first notification of completion to the Customer, the Company 
                                may sell any vehicle owned by the Customer and/or the contents thereof by public auction or private treaty. The net proceeds of the 
                                sale shall be applied towards debt due from the Customer to the Company, and any balance will be paid to the Customer on demand.
                            </p>
                            <p>
                                <strong>7. Credit Terms</strong>
                            </p>
                            <p>
                                Where Credit Terms have been extended to the Buyer by the Company, the Company reserves the right to refuse to provide any services or 
                                parts ordered by the Buyer, where doing so would mean the Buyer exceeding the Credit Limit offered to the Buyer.
                            </p>
                            <p>
                                <strong>8. Remedies for late Payment</strong>
                            </p>
                            <p>
                                8.1 In the event that any invoice is not paid by its due date, all sums due to the Company from the Buyer will become 
                                immediately payable.
                            </p>
                            <p>
                                8.2 The Company is entitled to recover all administrative, collection and legal costs incurred in recovering overdue 
                                amounts from the Buyer and all sums that become immediately payable.
                            </p>
                            <p>
                                8.3 The Company may, in the event that any sum is not paid by its due date, 
                                suspend the service it provides to the Buyer. Any parts or equipment provided to the Buyer by the Company remain the property of the Company 
                                until all debts are paid.
                            </p>
                            <p>
                                <strong>9. Title and Risk</strong>
                            </p>
                            <p>
                                9.1 Any work carried out by the Company at the request of the Buyer, will be at the Buyer’s risk from the point of completion of work, to the Buyer’s 
                                satisfaction. Title of any parts fitted will not pass from the Company to the Buyer until all relevant and outstanding debts 
                                have been paid in full.
                            </p>
                            <p>
                                <strong>10. Disputes procedure and Jurisdiction</strong>
                            </p>
                            <p>
                                10.1 All contracts entered into between the Company and the Buyer will be governed by the laws of England and Wales and all disputes arising 
                                out of any contract between the Company and the Buyer will be subject to the exclusive jurisdiction of the courts of England and Wales. In the 
                                event that the Buyer is dissatisfied with any repair or service carried out by the Company, the Buyer should first make contact with the Company 
                                in order to try and resolve the matter.
                            </p>
                            <p>
                                <strong>11. Work authorisation</strong>
                            </p>
                            <p>
                                11.1 Any additional work will need to be authorised by the customer. We will accept authorization over the phone.
                            </p>
                            <p>
                                <strong>12. All parts removed by the Company in the course of the repair will, if not claimed by the Customer within 24 hours after 
                                    completion of work, be deemed the property of the Company. Parts returned are 
                                    subject to a handling fee. Special ordered parts are not returnable.</strong>
                            </p>
                            <p>
                                <strong>13. Warranty</strong>
                            </p>
                            <p>
                                13.1 Any warranty that applies to parts will be provided by the manufacturer.
                            </p>
                            <p>
                                13.2 In the event of a potential claim, you should notify us immediately whereupon the defect will be assessed and repaired free of charge by the 
                                Company. Any repairs by an alternative organisation will only be permitted with prior express authorisation by the Company. 
                            </p>
                            <p>
                                <strong>14. Damage Liability/Damage to vehicle</strong>
                            </p>
                            <p>
                                14.1 The Customer is responsible for checking their vehicle for any damage before it leaves the Company premises. Once the vehicle leaves the Company 
                                premises on completion of work, there will be no liability by the Company.
                            </p>
                            <p>
                                <strong>15. Courtesy Vehicle</strong>
                            </p>
                            <p>
                                15.1 The Company does not currently provide the option of a courtesy vehicle. This is due to become available in the near future, at which point these terms will be 
                                updated.
                                
                                <p class="d-none">does not guarantee a courtesy car being available. The courtesy vehicle may only be used by drivers over the age of 25, and any 
                                    damage to the courtesy vehicle will be need to covered by the driver’s own vehicle insurance. Copy of the driver’s vehicle license document 
                                    must be provided prior taking courtesy vehicle from the Company’s premises. It is the responsibility of the driver to inspect the courtesy 
                                    vehicle for damage and noted on the loan vehicle document prior to leaving the Company’s premises. The courtesy vehicle will be inspected by 
                                    a member of the Company on its return to the Company’s premises.</p> 
                            </p>
                            <p>
                                <strong>16. Waste</strong>
                            </p>
                            <p>
                                16.1 The Company is covered for environment waste transfers and a license for disposal of hazardous waste.
                            </p>
                            <p>
                                <strong>17. Quality Control</strong>
                            </p>
                            <p>
                                17.1 Quality control is carried out on all vehicles repairs.
                            </p>
                            <p>
                                <strong>18. Vehicle Storage</strong>
                            </p>
                            <p>
                                18.1 The Company reserves the right to invoice £20.00 + VAT per day for the storage of any vehicle not collected within the agreed collection time following completion 
                                of agreed work.
                            </p>
                            <p>
                                <strong>19. Payment for Special Order Parts</strong>
                            </p>
                            <p>
                                19.1 Payment for special order parts for the Customer must be paid for prior to work being carried out if the Customer vehicle is not on site.
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}