{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header about-header">
                    <h1 class="page-header">Terms & Conditions</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row">
            <div class="col">
                <div>
                    <h2 class="section-header text-grey">TERMS AND CONDITIONS OF BUSINESS</h2>
                    <h3 class="text-danger">This must be edited/changed due to copyright reasons</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section id="terms-and-conditions">
                    <p>
                        <strong>1. Definitions</strong>
                    </p>
                    <p>
                        1.1 “The Company” refers to The Anglia Performance Centre Ltd.
                    </p>
                    <p>
                        1.2 “The Buyer” refers to the person, partnership, Limited Company, or other legal entity, who agrees to services being provided by the Company.
                    </p>
                    <p>
                        1.3 “The Conditions” refers to the terms and conditions of the Company’s operations, set out in this document and any special terms and 
                        conditions agreed in writing by a Director, Company Secretary, or other member of this company’s management team, acting for and on behalf of the Company.
                    </p>
                    <p>
                        <strong>2. Conditions</strong>
                    </p>
                    <p>
                        2.1 These Conditions shall apply to all contracts for any parts or service provided by the Company to the Buyer, to the exclusion of all other terms and 
                        conditions, including any terms and conditions the Buyer may purport to apply under any purchase order, confirmation of order, or similar document.
                    </p>
                    <p>
                        2.2 Agreement of any work to be carried out by the Company shall be deemed conclusive evidence of the Buyer’s acceptance of these Conditions.
                    </p>
                    <p>
                        <strong>3. The Price and Payment</strong>
                    </p>
                    <p>
                        3.1 The price of the service provided shall be the price agreed between the Company and the Buyer, at the time the Buyer agrees to work being carried 
                        out. This price may vary, dependent upon any change in parts prices, or change in specialist charges, which may come into effect at the time the work 
                        is completed and which is beyond the control of the Company. The price of the work carried out is exclusive of VAT. Where applicable, VAT shall be due 
                        at the rate ruling on the date that the VAT invoice is drawn.
                    </p>
                    <p>
                        3.2 Payment of the price and VAT shall be due at point of collection/delivery of vehicle following completion of repairs, unless otherwise agreed, in 
                        writing, with the Company. Payment in this instance is generally agreed to be 30 days from date of invoice.
                    </p>
                    <p>
                        <strong>4. Orders / Estimates / Deposits</strong>
                    </p>
                    <p>
                        4.1 Estimates are valid for the date given. If instructions are not received from a customer (in response to an estimate rendered) within 24 hours, 
                        the Company may invoice for reasonable storage charges from the date that the vehicle was received until its collection. (Note: the company does not, 
                        as a general rule make any such charge for garaging pending instructions, if the repairs are ultimately carried out by the Company and duly paid for).
                    </p>
                    <p>
                        4.2 All estimates by the Company are subject to change caused by variations to the Company of labour, material and spare parts at the date of estimate. 
                        In the event of any variation occurring before or after acceptance of the estimate the Company may if it thinks fit require the Customer to pay on 
                        completion of the work any increase due to such variation.
                    </p>
                    <p>
                        4.3 If no estimate is provided or if part only of the work covered by the estimate is carried out the Company shall be entitled to charge a reasonable 
                        and proper price for the work done (including any stripping down leading to determination as to the practicability or otherwise of any work and reassembly) 
                        and for materials and spare parts supplied.
                    </p>
                    <p>
                        4.4 The company may refuse to carry out all, or part of any work for any reason whether or not an estimate has been provided.
                    </p>
                    <p>
                        Variations to the estimate, the scope of the repair or work, the prices chargeable shall be subject to all these terms and conditions, and so that any 
                        such variation shall not be deemed to constitute or create a new or separate contract.
                    </p>
                    <p>
                        4.5. Orders received, for Goods and/or Services, from any driver employed by the Customer or by any person who is reasonably believed to be acting as 
                        the Customer’s agent or by the order of any person to whom the Company is entitled to make delivery of the vehicle shall be binding upon the Customer.
                    </p>
                    <p>
                        4.6 The Company may demand a deposit before commencing any work. The customer shall co-operate with the Company in all matters relating to the Services.
                    </p>
                    <p>
                        <strong>5. Delivery / Completion</strong>
                    </p>
                    <p>
                        Every effort will be made to provide the Goods and/or Services by the estimated time, but the Company shall not be liable for any delay in completing 
                        the Goods and/or Services. Time shall not be of the essence in respect of this clause. Risk passes on delivery or where relevant on collection.The Company 
                        will not be held liable for any delay caused by outside influences i.e. goods not delivered in time, sent incorrectly or sub-contractor work.
                    </p>
                    <p>
                        <strong>6. Payment</strong>
                    </p>
                    <p>
                        6.1 Payment for all Goods and/or Services, repairs and/or spare parts supplied is due on completion of work. The goods and/or Services, repair is 
                        completed for the purpose of these terms and conditions when notice has been given that the vehicle is ready for collection. All Goods and/or Services 
                        shall remain the absolute and unencumbered property of the Company until such time as the Company has received cleared payment in full from the 
                        Customer in respect of such Goods and/or Services. Cheques will be accepted on production of a cheque guarantee card.
                    </p>
                    <p>
                        6.2 The Company shall have a general lien on all of the Customer’s vehicles and all of their contents for all monies owing to the Company by the 
                        Customer on any account whatsoever. The Company shall be entitled to reasonable storage charges during any period in which the vehicle is retained 
                        by virtue of the lien.
                    </p>
                    <p>
                        6.3. If the Customer’s indebtedness to the Company is not satisfied within 28 days from the date of the first invoice to the Customer, the Company 
                        may without notice sell any vehicle owned by the Customer and/or the contents thereof by public auction or private treaty. The net proceeds of the 
                        sale shall be applied towards the satisfying monies due from the Customer to the Company, and any balance shall be paid by the Company to the Customer 
                        on demand
                    </p>
                    <p>
                        <strong>7 Credit Terms</strong>
                    </p>
                    <p>
                        Where Credit Terms have been extended to the Buyer by the Company, the Company reserves the right to refuse to provide any of its garage services or 
                        parts ordered by the Buyer, where to do so would mean the Buyer exceeding the Credit Limit extended to the Buyer.
                    </p>
                    <p>
                        <strong>8. Remedies for late Payment</strong>
                    </p>
                    <p>
                        8.1 Interest on commercial debt shall accrue from the date of the invoice, unless a written agreement is in place between the Company and Buyer giving 
                        an agreed payment period of 28 days. Interest will accrue from day to day, until the date of payment, at the statutory rate (8% above the base rate of 
                        the Bank of England applicable on the date the debt becomes due). This figure may change from time to time, dependent upon the interest figures in 
                        force by Bank of England at the time payment of invoice is due. Interest will accrue until settlement is reached or until any Court Judgment is made.
                    </p>
                    <p>
                        8.2 In the event that any invoice is not paid on, or before, its due date, then all sums due and owing to the Company from the Buyer shall become 
                        immediately payable and subject to clause 5.1 above.
                    </p>
                    <p>
                        8.3 The Company shall be entitled to recover from the Buyer all administrative, collection and legal costs incurred by it in recovering overdue 
                        amounts and all sums that become immediately payable under. clause 5.2 above.
                    </p>
                    <p>
                        8.4 Without prejudice to any of the Company’s other rights, the Company may, in the event that any sum is not paid, on or before its due date, 
                        suspend the service it provides to the Buyer. Any parts, or equipment, provided to the Buyer by the Company remain the property of the Company 
                        until all amounts owed are paid.
                    </p>
                    <p>
                        <strong>9. Title and Risk</strong>
                    </p>
                    <p>
                        Any work carried out by the Company at the request of the Buyer, will be at the Buyer’s risk from the point of completion of work, to the Buyer’s 
                        satisfaction in spite of delivery. Title of any parts fitted shall not pass from the Company to Buyer until all relevant and outstanding invoices 
                        and VAT have been paid in full and at such a time that no other sums whatsoever are due from the Buyer to the Company.
                    </p>
                    <p>
                        <strong>10. Disputes procedure and Jurisdiction</strong>
                    </p>
                    <p>
                        Any and all contracts entered into between the Company and the Buyer shall be governed by the laws of England and Wales and all disputes arising 
                        out of any contract between the Company and the Buyer shall be subject to the exclusive jurisdiction of the courts of England and Wales. In the 
                        event that the Buyer is dissatisfied with any repair or service carried out by the Company, the Buyer should first make contact with the Company 
                        in order to try and resolve the matter. The Company has a complaints procedure in place.-It also complies with the Data Protection Act.
                    </p>
                    <p>
                        <strong>11. Work authorisation</strong>
                    </p>
                    <p>
                        Any additional work will need to be authorised by the customer due to fact the vehicle being on site and the customer not, we will accept 
                        authorization over the telephone.
                    </p>
                    <p>
                        <strong>12. All parts removed by the Company in the course of the repair shall, if not claimed by the Customer within 24 hours after the 
                            completion of the repair be deemed to be owned by the Company and they shall become the Company’s absolute property. Parts returned are 
                            subject to a handling charge. Parts specially ordered are not returnable.</strong>
                    </p>
                    <p>
                        <strong>13. Warranty</strong>
                    </p>
                    <p>
                        Any warranty that applies to parts, the term of the warranty will be denoted by the manufacturer.
                    </p>
                    <p>
                        In the event of a potential claim, you should notify us immediately whereupon the defect will be assessed and repaired free of charge by the 
                        Company providing the exclusions do not apply. Any repairs by an alternative organisation will only be permitted with prior express authorisation 
                        by the Company. Your statutory rights are not affected.
                    </p>
                    <p>
                        <strong>14. Damage Liability/Damage to vehicle</strong>
                    </p>
                    <p>
                        The Customer is responsible for checking their vehicle for any damage before it leaves the Company premises. Once the vehicle leaves the Company 
                        premises on completion of work, there will be no liability by the Company.
                    </p>
                    <p>
                        <strong>15. Courtesy Vehicle</strong>
                    </p>
                    <p>
                        The Company does not guarantee a courtesy car being available. The courtesy vehicle may only be used by drivers over the age of 25, and any 
                        damage to the courtesy vehicle will be need to covered by the driver’s own vehicle insurance. Copy of the driver’s vehicle license document 
                        must be provided prior taking courtesy vehicle from the Company’s premises. It is the responsibility of the driver to inspect the courtesy 
                        vehicle for damage and noted on the loan vehicle document prior to leaving the Company’s premises. The courtesy vehicle will be inspected by 
                        a member of the Company on its return to the Company’s premises.
                    </p>
                    <p>
                        <strong>16. Waste</strong>
                    </p>
                    <p>
                        The Company is covered for environment waste transfers and also a license for disposal of hazardous waste and is available for inspection upon request.
                    </p>
                    <p>
                        <strong>17. Quality Control</strong>
                    </p>
                    <p>
                        Quality control is carried out on repair cars is approximately 10%.
                    </p>
                    <p>
                        <strong>18. Vehicle Storage</strong>
                    </p>
                    <p>
                        The Company will invoice £25.00 + VAT per day for the storage of any vehicle not collected within an agreed collection time following completion 
                        of agreed work.
                    </p>
                    <p>
                        <strong>19. Payment for Special Order Parts</strong>
                    </p>
                    <p>
                        Payment for parts which are a special order for the Customer must be paid for prior to work being carried out if the Customer vehicle is not on site.
                    </p>
                </section>
                


            </div>
        </div>
    </div>
{% endblock %}