{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header about-header">
                    <div class="dark-fade">
                        <h1 class="page-header">The Team</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-car bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <main class="container pt-4">
                <h2 class="pt-5">Meet the team</h2>
                <hr class="hr-gold-short hr-left mb-5">
                {% for member in members %}
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            {% if member.image %}
                            <img class="img-fluid border-l-grey" src="{{ member.image.url }}" alt="{{ member.first_name }}">
                            {% else %}
                            <img class="img-fluid border-l-grey" src="{{ MEDIA_URL }}defaults/APC-Logo.jpeg" alt="{{ member.first_name }}">
                            {% endif %}
                        </div>
                        <div class="col-12 col-lg-8">
                            <h2 class="pt-2 pt-lg-0">{{ member.first_name }} {{ member.surname }}</h2>
                            <h4>{{ member.job }}</h4>
                            <p>{{ member.description }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="mb-5 hr-100-grey">
                        </div>
                    </div>
                {% endfor %}
                </main>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirmActionModal" tabindex="-1" role="dialog" aria-labelledby="confirmAction" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmAction">Delete Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirmBody">
                    Are you sure you want to delete this member?
                </div>
                <div class="modal-footer">
                    <button id="modal-dismiss" type="button" class="btn send-btn" data-dismiss="modal">CANCEL</button>
                    <a id="injector" href=""><button class="btn btn-danger">DELETE</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postload_js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $('.modal-popup').click(function() {
                let deleteurl = $(this).data('delete-url');
                let memberName = $(this).data('name');
                $('#confirmBody').html(`Are you sure you want to delete ${memberName}?`)
                $('#injector').attr('href', deleteurl);
                $("#confirmActionModal").modal("show");
            });
        })
    </script>
{% endblock %}