{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header about-header">
                    <h1 class="page-header">The Team</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker">
        <div class="row">
            <p class="text-white">Bartosz Jakubowski, the owner-director, 
                Tom, Mastert technitian
                Czeslaw Szklarz, master technitian
                Mahmood Anuar, technitian/fabricator
                David Batista, technitian
                Mohammet Imran, workshop manager/mapping/the voice on the phone-customer liason
            </p>
        </div>
    </div>
{% endblock %}