{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="header-container">
            <header class="bg-header services-header">
                <h1 class="page-header">Chip Tuning</h1>
            </header>
        </div>
    </div>
</div>
<div class="container-fluid bg-darker dark-content pl-0 pr-0 pt-3 pb-3">
    <div class="container">
        <div class="row pt-4 pb-4">
            <div class="col pt-4">
                <h3>Peterborough Chip Tuning</h3>
                <hr class="hr-gold-short hr-left">
                We offer a multitude of tuning options for most vehicles, be that N/A or forced induction.
                Chip tuning is the best, easiest and cheapest initial step you can take to increase the power of your
                car.
                On average we see between 15-25% power increases from chip tuning alone, however results will
                vary from car to car. <br><br>
                To carry out our tuning, we use some the best and newest tools from companies such as Autotuner
                and Alientech, all of which are backed by the manufacturers, so nothing is left to a chance.
                Our files are recalibrated based on customers request and we are able to make alterations to account for
                any other upgrades your car might have (intercoolers, methanol injection, bigger turbos etc.)
                We can offer our customers the use of our DRAGY to verify the gains, or we can book a rolling road
                session with
                one of our trusted partners. We also support DTC (fault code) removal and other associated functions to
                be switched on or off (cold start, cruise control, android audio etc)<br><br>
                If you are interested in our chip tuning service, please get in touch and we can discuss all of your
                options.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    What is Chip tuning?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Chip tuning involves changing or modifying a programmable memory chip in a vehicles
                                electronic control unit (ECU) to achieve better performance, whether it be more power,
                                better emissions or improved mpg. <br>
                                Engine manufacturers generally use a conservative electronic
                                control unit map to allow for individual engine variations.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Why should I get my car chip tuned?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Chip tuning can alter a variety of your cars characteristics, ranging from better
                                fuel economy to more horsepower. Many of our customers opt for a tune that will increase
                                their vehicles power, which in most cases, will also improve the car's fuel efficiency
                                during
                                regular driving. Results will vary depending on which vehicle you have, but a power
                                increase
                                will not only improve your car's peak horsepower, it will also increase torque
                                throughout
                                the rev range and improve power delivery and throttle response.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    NA vs. forced induction
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                In most cases, forced induction (Turbo or supercharged) vehicles will benefit from a
                                higher horsepower
                                increase after chip tuning than a naturally aspirated (non-turbo) vehicle would. This is
                                because the
                                boost pressure on a forced induction car can be increased, along with ignition timing,
                                fuel ratio and
                                fuel pressure, whereas an na vehicle only benefits from ignition timing, fuel ratio and
                                fuel pressure changes.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <img src="{{ MEDIA_URL }}FB_IMG_1637590847180.jpg" alt="">
            <img src="{{ MEDIA_URL }}mapping.jpg" alt="">
        </div>
    </div>
</div>
{% endblock %}