{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="header-container">
            <header class="bg-header services-header">
                <h1 class="page-header">Chip Tuning</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            We offer multitude of tunning options for most vehicles. Be that N/A or forced induction. Chipt-tunning seems to be the best initial step into more power for you pride and joy. We normally see about 15-25% power increase from a chip-tuning alone but results will vary. We use the best and newest tools from Autotuner or Alientech. All backed by the manufacturers suppost so nothing is left to a chance. Our files are recalibrated per customers request and we also cater for any other upgrades like intercoolers, methanol injection or bigger turbos. Our customers can also use our DRAGGY to verify the gains or book a rolling road session with one of our trusted partners. We also support DTC removal and other associated functions to be switched off or on (Ie cold start, cruise controll, android audio)
        </div>
    </div>
</div>
{% endblock %}