{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <div class="dark-fade">
                        <h1 class="page-header">Corner Weight Setup</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-car bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container">
                <div class="row">
                    <div class="col pt-4">
                        We have a corner weigh scale system wchi enables us to set your pride and joy ready for any track 
                        battle. The improvements are vast as we can shift the weight distribution to the one that works 
                        best for you and your car.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}