{% extends 'base.html' %}

{% block extra_meta %}
<meta name="description" content="Corner weighing tells you the overall weight of your car as well as the weight present 
at each wheel. Uneven corner weights will cause your car to have different 
levels of grip on each tyre."/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <div class="dark-fade">
                        <div class="page-header">Corner Weight Setup</div>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-car bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4">
                    <div class="col pt-4">
                        <h1 class="h2">Peterborough Corner Weight Setup</h1>
                        <hr class="hr-gold-short hr-left">
                        <section>
                            Corner weighing tells you the overall weight of your car as well as the weight present 
                            at each wheel. Uneven corner weights will cause your car to have different 
                            levels of grip on each tyre, which can make your car unpredictable during circuit driving and high speed cornering. 
                            Good weight distribution between the front and rear of the car can also allow traction to be increased on the 
                            driven wheels for improved acceleration and balance.<br><br>
                            At APC, We have a corner weight scale system which enables us to set your car ready for any type of circuit driving. 
                            The improvements can be vast as we can shift the weight distribution to the one that works 
                            best for you and your car and driving style.<br><br>
                            There are some parts we can install (if you haven't already) that will help get the most out of your corner weight setup, they are as follows;
                            <ul>
                                <li>Adjustable coilovers</li>
                                <li>Adjustable droplinks</li>
                            </ul>
                            For details on which brands would be best for you, please get in touch and we will discuss your options with you. 
                        </section>
                        <a href="{% url 'blog' %}?category=corner_weight_setup">
                            <button class="btn request-btn mt-3">See related Blog Posts</button>
                        </a>
                    </div>
                </div>
                <div class="row pt-2 pb-4">
                    <div class="col-12">
                        <center class="contact-link">
                            <h4>Book your car in with us: </h4>
                            <a href="{% url 'contact'  %}#contact-area">
                                <button class="btn send-btn br-50 fs-20">Contact</button>
                            </a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}