{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <div class="dark-fade">
                        <h1 class="page-header">Custom Exhausts</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-car bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container">
                <div class="row">
                    <div class="col pt-4">
                        We offer a vast array of custom exhaust modifications. Ranging from a simple back box/resonator 
                        delete, to a full blown turbo-back system which is unique to your car. We have been tasked with 
                        some classic tractor exhausts as a full blown, turbo hayabusa system. Exhaust tips of your choice. 
                        All of our products are from authorised suppliers, and steel we use is 316L grade or higher. 
                        Titanium is also available. 
                    </div>
                </div>
                <div class="row">
                    <img src="{{ MEDIA_URL }}exhaust-1.jpg" alt="">
                    <img src="{{ MEDIA_URL }}exhaust-2.jpg" alt="">
                    <img src="{{ MEDIA_URL }}exhaust-3.jpg" alt="">
                    <img src="{{ MEDIA_URL }}exhaust-4.jpg" alt="">
                    <img src="{{ MEDIA_URL }}exhaust-5.jpg" alt="">
                    <img src="{{ MEDIA_URL }}exhaust-6.jpg" alt="">
                    <img src="{{ MEDIA_URL }}exhaust-7.jpg" alt="">
                    <img src="{{ MEDIA_URL }}exhaust-8.jpg" alt="">
                    <img src="{{ MEDIA_URL }}exhaust-complete.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}