{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <h1 class="page-header">Custom Exhausts</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col">
                We offer a vast array of custom exhaust modifications. Ranging from a simple back box/resonator delete, to a full blown turbo-back system which is unique to your car. We have been tasked with some classic tractor exhausts as a full blown, turbo hayabusa system. Exhaust tips of your choice. All of our products are from authorised suppliers, and steel we use is 316L grade or higher. Titanium is also available. 
            </div>
        </div>
    </div>
{% endblock %}