{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <div class="dark-fade">
                        <h1 class="page-header">Diagnostics</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-engine bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4">
                    <div class="col pt-4">
                        <h2>Peterborough Diagnostics</h2>
                        <hr class="hr-gold-short hr-left">
                        <section>
                            We have a tested system of diagnosis-to-repair. We will not just throw parts at the issue and 
                            pray for the best. Instead we use an educated and methodical approach toward the issue in hand. 
                            We analyze data available to us via our daignostic equipment to eradicate the issue at hand. Our 
                            years of experience do, surely, come handy but the raw data from varoius sensors is the best 
                            picture and lead towards a succesful repair. We use tool from Snap-On, Autel, Launch, LExia, 
                            Star, VAg COm, Vas or PIWIS, InPa, IstaD etc.
                        </section>
                    </div>
                </div>
                <div class="row">
                    <img src="{{ MEDIA_URL }}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}