{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <h1 class="page-header">Diagnostics</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker dark-content pl-0 pr-0 pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col pt-4">
                    We have a tested system of diagnosis-to-repair. We will not just throw parts at the issue and 
                    pray for the best. Instead we use an educated and methodical approach toward the issue in hand. 
                    We analyze data available to us via our daignostic equipment to eradicate the issue at hand. Our 
                    years of experience do, surely, come handy but the raw data from varoius sensors is the best 
                    picture and lead towards a succesful repair. We use tool from Snap-On, Autel, Launch, LExia, 
                    Star, VAg COm, Vas or PIWIS, InPa, IstaD etc.
                </div>
            </div>
            <div class="row">
                <img src="{{ MEDIA_URL }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}