{% extends 'base.html' %}

{% block extra_meta %}
<meta name="description" content="At APC, we have a tested system of diagnosis-to-repair, we won't just throw parts at the issue and 
hope for the best. Instead we use an educated and methodical approach towards the issue in hand."/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <div class="dark-fade">
                        <div class="page-header">Diagnostics</div>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-engine bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4">
                    <div class="col pt-4">
                        <h1 class="h2">Peterborough Diagnostics</h1>
                        <hr class="hr-gold-short hr-left">
                        <section>
                            At APC, we have a tested system of diagnosis-to-repair, we won't just throw parts at the issue and 
                            hope for the best. Instead we use an educated and methodical approach towards the issue in hand, 
                            we analyze the data available to us via our daignostic equipment where possible, and if this doesn't show us the issue, 
                            we draw from our years of diagnostic experience to manually find and repair the issue. <br><br> 
                            Our combined years of experience do come in handy but the raw data from varoius sensors often paints the best 
                            picture that will lead towards a succesful repair. <br><br>
                            <h3>Disnotic Tools</h3>
                            The diagnostic tools we use include but are not limited to;
                            <ul>
                                <li>Snap-On</li>
                                <li>Autel</li>
                                <li>Launch</li>
                                <li>LExia, </li>
                                <li>Star</li>
                                <li>VAg COm</li>
                                <li>Vas or PIWIS</li>
                                <li>InPa</li>
                            </ul>
                        </section>
                        <a href="{% url 'blog' %}?category=diagnostics">
                            <button class="btn request-btn mt-2">See related Blog Posts</button>
                        </a>
                    </div>
                </div>
                <div class="row pt-2 pb-4">
                    <div class="col-12">
                        <center class="contact-link">
                            <h4>Book your car in with us: </h4>
                            <a href="{% url 'contact'  %}#contact-area">
                                <button class="btn send-btn br-50 fs-20">Contact</button>
                            </a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
