{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <h1 class="page-header">Engine Rebuilds</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker dark-content pl-0 pr-0 pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col pt-4">
                    Being factory trained helps a lot but having the knowledge and passion towards the smallest detail is 
                    crucial. We build our engines with pride and havent had a failure yet. When it comes to our builds we 
                    weight match the components, balace rectating assemblies, blue print and use best quality gaskets and 
                    sealantas available to us, in order to quarantee a trouble free motoring. We offer engine rebuilds, 
                    block repairs, re-sleeve, re-bores. Completed many engine rebuild whils working for drag team.
                </div>
            </div>
            <div class="row">
                <img src="{{ MEDIA_URL }}engine-1.jpg" alt="">
                <img src="{{ MEDIA_URL }}engine-2.jpg" alt="">
                <img src="{{ MEDIA_URL }}engine-complete.jpg" alt="">
                <img src="{{ MEDIA_URL }}engine-complete-1.jpg" alt="">
                <img src="{{ MEDIA_URL }}engine-complete-2.jpg" alt="">
                <img src="{{ MEDIA_URL }}engine-complete-3.jpg" alt="">
                <img src="{{ MEDIA_URL }}engine-complete-4.jpg" alt="">
                <img src="{{ MEDIA_URL }}engine-complete-5.jpg" alt="">
            </div>
        </div>
    </div>
{% endblock %}