{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <h1 class="page-header">Engine Rebuilds</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Being factory trained helps a lot but having the knowledge and passion towards the smallest detail is crucial. We build our engines with pride and havent had a failure yet. When it comes to our builds we weight match the components, balace rectating assemblies, blue print and use best quality gaskets and sealantas available to us, in order to quarantee a trouble free motoring. We offer engine rebuilds, block repairs, re-sleeve, re-bores. Completed many engine rebuild whils working for drag team.
            </div>
        </div>
    </div>
{% endblock %}