{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <div class="dark-fade">
                        <h1 class="page-header">Engine Rebuilds</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-engine bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4">
                    <div class="col pt-4">
                        <h2>Peterborough Engine Rebuilding</h2>
                        <hr class="hr-gold-short hr-left">
                        <section>
                            There are various reasons why you may consider having your engine rebuilt, this could be anything from an engine 
                            seizure requiring a rebuild to diagnose and repair the issue, to the other side of the spectrum, getting a full
                            engine rebuild with forged internal components for increased strength and ability to withstand higher boost levels, and everything 
                            in between. 
                            <br><br>
                            Our in-house rebuild technicians have the skills and expertise required to carry out the rebuild you need, paying attention
                            to every detail in the rebuild process to ensure your engine runs smoothly after your rebuild. 
                            <br>
                            We build our engines with pride and haven't had a failure yet.
                            <br><br>
                            When it comes to our builds, we weight match the components, balace rotating assemblies, blue print and use the best quality gaskets and 
                            sealants available to us, in order to guarantee trouble free motoring.
                            <br>
                            We offer engine rebuilds, block repairs, re-sleeving and re-boring.
                            <br><br>
                            If you are interested in our engine rebuild service, please get in touch and we can discuss all of your options.
                        </section>
                        <a href="{% url 'blog' %}?category=engine_rebuilds">
                            <button class="btn request-btn mt-3">See related Blog Posts</button>
                        </a>
                    </div>
                </div>
                <div class="row pt-2 pb-4">
                    <div class="col-12">
                        <center class="contact-link">
                            <h4>Book your car in with us: </h4>
                            <a href="{% url 'contact'  %}#contact-area">
                                <button class="btn send-btn br-50 fs-20">Contact</button>
                            </a>
                        </center>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-12">
                        <h3>Common Questions</h3>
                        <hr class="hr-gold-short hr-left">
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12 col-md-8">
                        <section id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="false" aria-controls="collapseOne">
                                            <i class="fas fa-plus pr-4"></i>
                                            Is it worth rebuilding my engine?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        After an engine has been rebuilt, it will generally run more smoothly than it did prior to the rebuild, 
                                        which will often lead to improved mpg and emissions, and in most cases, be a cheaper option than replacing 
                                        your engine or car. If you are having an engine rebuilt for performance reasons, this may not apply, depending 
                                        on the final goal of the rebuild.<br><br>
                                        As an added benefit, rebuilding an engine saves energy related to processing a discarded engine
                                        and cuts down on waste. <br>
                                        With proper maintenance, there is no reason that a rebuilt engine wouldn't last as long as a new engine
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fas fa-plus pr-4"></i>
                                            When should my engine be rebuilt?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Depending on the problems you are having or your reason for getting your engine rebuilt, there are different things 
                                        to look out for.<br><br>
                                        If you are looking to modify your car to increase the horsepower output, you can speak to one of our technicians about
                                        the limits of your engine and when you would need an engine rebuild.<br><br>
                                        In terms of an engine rebuild due to engine problems, there are a few things to look out for:
                                        <ul>
                                            <li>Blue/white exhaust fumes from the exhaust</li>
                                            <li>High engine oil consumption</li>
                                            <li>Noticable drop in fuel economy</li>
                                            <li>Low oil pressure</li>
                                            <li>Knocking sound coming from the engine</li>
                                            <li>Noticable drop in engine performance</li>
                                            <li>Contant overheating problems</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fas fa-plus pr-4"></i>
                                            Do I need a full or partial rebuild?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        There are 2 main types of engine rebuild; a partial rebuild and a full rebuild.
                                        <br><br>
                                        A partial rebuild would generally be carried out if the engine has not suffered any major failures in the 
                                        past and would involve replacing piston rings, head gasket, valves etc. This is often carried out on older engines
                                        that need a "refresh".<br><br>
                                        A full engine rebuild involves removing the entire engine from the car, fully disassembling it and then replacing the 
                                        required parts and putting it back together.<br><br>
                                        If you think you need a rebuild, our technicians will be able to advise you further as to what you will need to do.
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
    <script>
        $(document).ready(function() {
            $(".btn-link").click(function() {
                target = $(this).attr("data-target");
                if (!$(target).hasClass("show")) {
                    $(".btn-link").find(".fas").addClass("fa-plus").removeClass("fa-minus");
                    $(this).find(".fas").removeClass("fa-plus").addClass("fa-minus");
                } else {
                    $(".btn-link").find(".fas").addClass("fa-plus").removeClass("fa-minus");
                }
            });
        });
    </script>
{% endblock %}