{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <div class="dark-fade">
                        <h1 class="page-header">Track/Drift Preparation</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-car bg-fixed dark-content p-0">
        <div class="container-fluid dark-shadow pl-0 pr-0">
            <div class="container pt-4 pb-5">
                <div class="row pt-4 pb-4">
                    <div class="col pt-4">
                        <h2>Peterborough Track/Drift Preparation</h2>
                        <hr class="hr-gold-short hr-left">
                        <section>

                        </section>
                    </div>
                </div>

                <div class="row pt-2 pb-4">
                    <div class="col-12">
                        <center class="contact-link">
                            <h4>Book your car in with us: </h4>
                            <a href="{% url 'contact'  %}#contact-area">
                                <button class="btn send-btn br-50 fs-20">Contact</button>
                            </a>
                        </center>
                    </div>
                </div>
                <div class="row d-none">
                    <img style="width: 100%; height: auto;" src="{{ MEDIA_URL }}IMG-20211107-WA0013.jpg" alt="">
                    <img style="width: 100%; height: auto;" src="{{ MEDIA_URL }}focus-st.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
    {% include '../includes/js/scrollFromTop.html' %}
{% endblock %}