{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header-container">
                <header class="bg-header services-header">
                    <h1 class="page-header">Track/Drift Preparation</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darker dark-content pl-0 pr-0 pb-3">
        <div class="bg-track">
            <div class="bg-overlay"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col pt-4">
                    <img style="width: 100%; height: auto;" src="{{ MEDIA_URL }}IMG-20211107-WA0013.jpg" alt="">
                    <img style="width: 100%; height: auto;" src="{{ MEDIA_URL }}focus-st.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}